In [1]:
import numpy as np
import pandas as pd
import smtplib
import datetime
import os
import io
import boto3
import warnings
warnings.filterwarnings("ignore")
import mimetypes
import pymysql
import csv
from email.message import EmailMessage
from email.mime.text import MIMEText
from email.mime.application import MIMEApplication
from email.mime.multipart import MIMEMultipart
from email.mime.base import MIMEBase
from email import encoders


Report_date1 = datetime.datetime.today().date() - datetime.timedelta( days = 1)  ### Only change here with end date 
Date = Report_date1.strftime('%Y_%m_%d')
Date2 = Report_date1.strftime('%Y-%m-%d')
print(Date2)
print(Date)

from datetime import datetime, timedelta, date
today = date.today()
SDATE = (today - timedelta(days=1)).strftime('%Y-%m-%d')
#EDATE = (today - timedelta(days=1)).strftime('%Y-%m-%d') # need changes
EDATE = today

print(SDATE)
print(EDATE)


s3c = boto3.client(
        's3',
        region_name = 'ap-south-1',
        aws_access_key_id = 'AKIATUQGDAH25GFCGYC7',
        aws_secret_access_key = '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'
    )
obj = s3c.get_object(Bucket= 'dsc-automailer' , Key = 'dc_scorecard_BA/overall'+Date2+'.csv')
df = pd.read_csv(io.BytesIO(obj['Body'].read()), encoding='utf8')


df2 = df.pivot_table(index=['report_date','dc','state','region'],values=['foc_eligible_base','roac_eligible_base','fpc_eligible_base','frp_base','fad_eligible_base','rad_eligible_base','fps_outscan_eligible_base','stress_base','stress_done'],aggfunc='sum').reset_index()
df2 = df2.rename(columns={'stress_base': 'Exclusions', 'stress_done': 'Hold_At_Hub_Count'})


df2['Hold_At_Hub_Count']=df2['Hold_At_Hub_Count'].fillna(0)

new_column_order = ['report_date', 'dc', 'state', 'region','foc_eligible_base','roac_eligible_base','fpc_eligible_base','frp_base','Hold_At_Hub_Count',
                   'fad_eligible_base','rad_eligible_base','fps_outscan_eligible_base','Exclusions']
d5=df2[new_column_order]
d5

#d5.to_csv(fr'D:\Gaurav\OneDrive - Ecom Express Limited\Daily_Reports\DC_Stress_Working\DC_Stress_Base_{SDATE}.csv')

d5['E1']=d5['foc_eligible_base']+d5['roac_eligible_base']+d5['fpc_eligible_base']+d5['frp_base']+d5['Hold_At_Hub_Count']


d5['E2']=d5['E1']-d5['Exclusions']

d5['Outscan']=d5['fad_eligible_base']+d5['rad_eligible_base']+d5['fps_outscan_eligible_base']

d5['Outscan/E1 %']=(((d5['Outscan'] / d5['E1'])*100).round(2)).fillna(0)


d5['Outscan/E1 %']


d5['Outscan/E1 Bucket'] = np.where((d5['Outscan/E1 %'] < 25.00), "<25%",
                                   np.where((d5['Outscan/E1 %'] < 50.00), "25-50%",
                                            np.where((d5['Outscan/E1 %'] < 60.00), "50-60%",
                                                     np.where((d5['Outscan/E1 %'] < 70.00), "60-70%",
                                                              np.where((d5['Outscan/E1 %'] < 80.00), "70-80%",
                                                                       np.where((d5['Outscan/E1 %'] < 90.00), "<80-90%",
                                                                                np.where((d5['Outscan/E1 %'] < 95.00), "<90-95%",
                                                                                         np.where((d5['Outscan/E1 %'] < 100.00), "<95-100%",
                                                                                                  np.where((d5['Outscan/E1 %'] >= 100), "Greater than 100 %", "-")))))))))




d5['Outscan/E1 Bucket'].value_counts()

d5['Outscan/E2 %']=(((d5['Outscan'] / d5['E2'])*100).round(2)).fillna(0)

d5['Outscan/E2 %'] = pd.to_numeric(d5['Outscan/E2 %'])

# d5['Outscan/E2 Bucket']= np.where((d5['Outscan/E2 %'] < 25.00), "<25%",
#                                    np.where((d5['Outscan/E2 %'] < 50.00), "25-50%",
#                                             np.where((d5['Outscan/E2 %'] < 60.00), "50-60%",
#                                                      np.where((d5['Outscan/E2 %'] < 70.00), "60-70%",
#                                                               np.where((d5['Outscan/E2 %'] < 80.00), "70-80%",
#                                                                        np.where((d5['Outscan/E2 %'] < 90.00), "80-90%",
#                                                                                 np.where((d5['Outscan/E2 %'] < 95.00), "90-95%",
#                                                                                          np.where((d5['Outscan/E2 %'] < 100.00), "95-100%",
#                                                                                                   np.where((d5['Outscan/E2 %'] == 100.00),
#                                                                                                            "Greater than 100 %", 
#                                                                                                            np.where((d5['Outscan/E2 %'] > 100.00),
#                                                                                                            "Greater than 100 %",
#                                                                                                            "-"))))))))))

d5['Outscan/E2 Bucket']= np.where((d5['Outscan/E2 %'] < 87.50), "<87.50%",
                                   np.where((d5['Outscan/E2 %'] < 92.50), "87.50-92.50%",">92.50%"))
                                            


d5['Outscan/E2 Bucket'].value_counts()

# d5['DC_Category']=np.where((d5['E2']<=0),"Not_Eligible",
#                            np.where((d5['Outscan/E2 %'] < 87.50),"Red DC",
#                                     np.where((d5['Outscan/E2 %'] < 92.50),"Orange DC",
#                                              np.where((d5['Outscan/E2 %'] == 92.50),"Green DC",
#                                                      np.where((d5['Outscan/E2 %'] > 92.50),"Green DC","Green DC")))))
                                             

    
import numpy as np

# Define conditions and corresponding values
conditions = [
    (d5['E2'] <= 0),
    (d5['Outscan/E2 %'] < 87.50),
    (d5['Outscan/E2 %'] < 92.50),
    (d5['Outscan/E2 %'] == 92.50),
    (d5['Outscan/E2 %'] > 92.50)
]

values = [
    "Not_Eligible",
    "Red DC",
    "Orange DC",
    "Green DC",
    "Green DC"
]

# Apply conditions using np.select and assign to 'DC_Category' column
d5['DC_Category'] = np.select(conditions, values, default="Green DC")

    
    
d5['DC_Category'].value_counts()

d6=d5


#d6['DC_Type'] = np.where(d6['dc'].apply(len) == 3, 'DC', 'MDC')

d6.loc[:, 'DC_Type'] = np.where(d6['dc'].apply(len) == 3, 'DC', 'MDC')


#d6['3Days_in_Red']=np.where((d6['DC_Category']=='Red DC'),1,0)

d6.loc[:, '3Days_in_Red'] = np.where((d6['DC_Category'] == 'Red DC'), 1, 0)

# d6['Region2']=np.where((d6['region']=="CENTRAL"),"Central",
#                        np.where((d6['region']=="SOUTH"),"South",
#                                 np.where((d6['region']=="WEST"),"West",
#                                          np.where((d6['region']=="SOUTH 2"),"South 2",
#                                                   np.where((d6['region']=="NORTH"),"North",
#                                                            np.where((d6['region']=="EAST"),"East",(d6['region'])))))))


d6['Region2'] = np.where((d6['region'] == "CENTRAL"), "Central",
                         np.where((d6['region'] == "SOUTH"), "South",
                                  np.where((d6['region'] == "WEST"), "West",
                                           np.where((d6['region'] == "SOUTH 2"), "South 2",
                                                    np.where((d6['region'] == "NORTH"), "North",
                                                             np.where((d6['region'] == "EAST"), "East", d6['region']))))))



new_column_order1 = ['report_date', 'dc','DC_Type','state', 'Region2','foc_eligible_base','roac_eligible_base','fpc_eligible_base','frp_base','Hold_At_Hub_Count','E1','Exclusions','E2',
                   'fad_eligible_base','rad_eligible_base','fps_outscan_eligible_base','Outscan','Outscan/E2 %','Outscan/E2 Bucket','DC_Category','3Days_in_Red']
d6=d5[new_column_order1]

d7 = d6.loc[~d6['DC_Category'].isin(['Not_Eligible'])]

d8=d7.rename(columns={'dc':'DC','report_date': 'Eligible_Date','state':'State','Region2': 'Region',
                        'foc_eligible_base':'FOC_Eligible_Base','roac_eligible_base':'ROC_Eligible_Base','frp_base':'FRP_Base',
                       'fpc_eligible_base':'FPC_Eligible_Base','Hold_at_Hub_Count':'Hold_at_Hub','E1':'Eligible Base','E2':'Eligible Base_2',
                       'fad_eligible_base':'FAD_Outscan_Base',
       'rad_eligible_base':'RAD_Outscan_Base', 'fps_outscan_eligible_base':'FPS_Outscan_Base'})

2024-08-29
2024_08_29
2024-08-29
2024-08-30

In [2]:
import pandas as pd
from datetime import datetime, timedelta, date
import pymysql

# Database connection
db1=pymysql.connect(host='3.7.215.20',port=3306,user='de_ss_comon',passwd='Con@%^&(*657',db='Scadi_Shipments')

SQL_Query='''select sc.center_code as 'DC',ct.type_code as 'Center_Type',mc.city_name as 'City'
 
 from mdm_service_centers sc
#left join mdm_service_centers sc on sc.id = me.service_centre_id
LEFT join mdm_service_locations sl on sl.id = sc.location_id
left join mdm_cities mc on mc.id = sl.city_id
left join mdm_states ms on ms.id = mc.state_id
left join mdm_regions mr on mr.id = ms.region_id
LEFT JOIN mdm_service_center_types ct on ct.id = sc.type_id''';

dt = pd.read_sql(SQL_Query, db1)

d9=d8.merge(dt[['DC','Center_Type','City']],on='DC',how='left')

d10=d9.loc[d9['Center_Type']=='DC']

d10.shape

(3463, 23)

In [3]:
dt

        DC Center_Type              City
0      IHQ          HO          GURUGRAM
1      DLB          DC             DELHI
2      DLE          DC             DELHI
3      DLT          DC             DELHI
4      DLY          DC             DELHI
...    ...         ...               ...
5264  MMKO          DC            KOHIMA
5265   ANM          DC        AHMEDNAGAR
5266   LAG          DC  LALGANJ AZAMGARH
5267  MCDD          DC         CUDDALORE
5268  MMUN          DC          MUNUGODE

[5269 rows x 3 columns]

In [4]:
#d10=d10.drop('Center_Type',axis=1)

In [5]:
#d10["Red DC Bucket (T-1 Day)"]=np.nan

In [6]:
d10

,Eligible_Date,DC,DC_Type,State,Region,FOC_Eligible_Base,ROC_Eligible_Base,FPC_Eligible_Base,FRP_Base,Hold_At_Hub_Count,...,FAD_Outscan_Base,RAD_Outscan_Base,FPS_Outscan_Base,Outscan,Outscan/E2 %,Outscan/E2 Bucket,DC_Category,3Days_in_Red,Center_Type,City
0,2024-08-29,AAA,DC,Jharkhand,Central,179.0,40.0,15.0,1.0,0.0,...,131.0,53.0,7.0,191.0,111.05,>92.50%,Green DC,0,DC,JHUMRI TELAIYA
1,2024-08-29,AAD,DC,Andhra Pradesh,South,29.0,12.0,26.0,26.0,0.0,...,21.0,7.0,0.0,28.0,33.73,<87.50%,Red DC,1,DC,ADDANKI
2,2024-08-29,AAI,DC,Bihar,Central,188.0,44.0,34.0,0.0,0.0,...,178.0,44.0,40.0,262.0,105.22,>92.50%,Green DC,0,DC,ARARIA
3,2024-08-29,AAK,DC,Maharashtra,West,604.0,120.0,24.0,0.0,0.0,...,591.0,122.0,23.0,736.0,104.25,>92.50%,Green DC,0,DC,AKAALKOT
4,2024-08-29,AAL,DC,Andhra Pradesh,South,315.0,118.0,23.0,0.0,0.0,...,311.0,123.0,21.0,455.0,104.36,>92.50%,Green DC,0,DC,ALLUR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3501,2024-08-29,ZAH,DC,Telangana,South,469.0,297.0,49.0,1.0,0.0,...,429.0,294.0,49.0,772.0,99.61,>92.50%,Green DC,0,DC,ZAHEERABAD
3502,2024-08-29,ZAM,DC,Uttar Pradesh,Central,155.0,49.0,25.0,0.0,0.0,...,169.0,56.0,25.0,250.0,111.61,>92.50%,Green DC,0,DC,ZAMANIA
3503,2024-08-29,ZIR,DC,Madhya Pradesh,West,315.0,140.0,39.0,0.0,0.0,...,305.0,159.0,40.0,504.0,104.13,>92.50%,Green DC,0,DC,ZIRAPUR
3504,2024-08-29,ZRA,DC,Punjab,North,266.0,78.0,5.0,0.0,0.0,...,255.0,86.0,5.0,346.0,101.76,>92.50%,Green DC,0,DC,ZIRA
3505,2024-08-29,ZRK,DC,Punjab,North,441.0,119.0,41.0,0.0,0.0,...,399.0,114.0,38.0,551.0,93.39,>92.50%,Green DC,0,DC,ZIRAKPUR

In [7]:
d10["Outscan/E2 Bucket"].value_counts()

Outscan/E2 Bucket
>92.50%         2827
<87.50%          546
87.50-92.50%      90
Name: count, dtype: int64

In [8]:
d10=d10[['Eligible_Date', 'DC', 'DC_Type', 'City', 'State', 'Region',
       'FOC_Eligible_Base', 'ROC_Eligible_Base', 'FPC_Eligible_Base',
       'FRP_Base', 'Hold_At_Hub_Count', 'Eligible Base', 'Exclusions',
       'Eligible Base_2', 'FAD_Outscan_Base', 'RAD_Outscan_Base',
       'FPS_Outscan_Base', 'Outscan', 'Outscan/E2 %', 'Outscan/E2 Bucket',
       'DC_Category', '3Days_in_Red', 'Center_Type']]

In [9]:
d10=d10[(d10["DC"]!="NDK")&(d10["DC"]!="PXD")]
d10

,Eligible_Date,DC,DC_Type,City,State,Region,FOC_Eligible_Base,ROC_Eligible_Base,FPC_Eligible_Base,FRP_Base,...,Eligible Base_2,FAD_Outscan_Base,RAD_Outscan_Base,FPS_Outscan_Base,Outscan,Outscan/E2 %,Outscan/E2 Bucket,DC_Category,3Days_in_Red,Center_Type
0,2024-08-29,AAA,DC,JHUMRI TELAIYA,Jharkhand,Central,179.0,40.0,15.0,1.0,...,172.0,131.0,53.0,7.0,191.0,111.05,>92.50%,Green DC,0,DC
1,2024-08-29,AAD,DC,ADDANKI,Andhra Pradesh,South,29.0,12.0,26.0,26.0,...,83.0,21.0,7.0,0.0,28.0,33.73,<87.50%,Red DC,1,DC
2,2024-08-29,AAI,DC,ARARIA,Bihar,Central,188.0,44.0,34.0,0.0,...,249.0,178.0,44.0,40.0,262.0,105.22,>92.50%,Green DC,0,DC
3,2024-08-29,AAK,DC,AKAALKOT,Maharashtra,West,604.0,120.0,24.0,0.0,...,706.0,591.0,122.0,23.0,736.0,104.25,>92.50%,Green DC,0,DC
4,2024-08-29,AAL,DC,ALLUR,Andhra Pradesh,South,315.0,118.0,23.0,0.0,...,436.0,311.0,123.0,21.0,455.0,104.36,>92.50%,Green DC,0,DC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3501,2024-08-29,ZAH,DC,ZAHEERABAD,Telangana,South,469.0,297.0,49.0,1.0,...,775.0,429.0,294.0,49.0,772.0,99.61,>92.50%,Green DC,0,DC
3502,2024-08-29,ZAM,DC,ZAMANIA,Uttar Pradesh,Central,155.0,49.0,25.0,0.0,...,224.0,169.0,56.0,25.0,250.0,111.61,>92.50%,Green DC,0,DC
3503,2024-08-29,ZIR,DC,ZIRAPUR,Madhya Pradesh,West,315.0,140.0,39.0,0.0,...,484.0,305.0,159.0,40.0,504.0,104.13,>92.50%,Green DC,0,DC
3504,2024-08-29,ZRA,DC,ZIRA,Punjab,North,266.0,78.0,5.0,0.0,...,340.0,255.0,86.0,5.0,346.0,101.76,>92.50%,Green DC,0,DC
3505,2024-08-29,ZRK,DC,ZIRAKPUR,Punjab,North,441.0,119.0,41.0,0.0,...,590.0,399.0,114.0,38.0,551.0,93.39,>92.50%,Green DC,0,DC

In [10]:
d10.columns

Index(['Eligible_Date', 'DC', 'DC_Type', 'City', 'State', 'Region',
       'FOC_Eligible_Base', 'ROC_Eligible_Base', 'FPC_Eligible_Base',
       'FRP_Base', 'Hold_At_Hub_Count', 'Eligible Base', 'Exclusions',
       'Eligible Base_2', 'FAD_Outscan_Base', 'RAD_Outscan_Base',
       'FPS_Outscan_Base', 'Outscan', 'Outscan/E2 %', 'Outscan/E2 Bucket',
       'DC_Category', '3Days_in_Red', 'Center_Type'],
      dtype='object')

In [11]:
len(d10)

3463

In [12]:
# # from home
# d10=pd.read_csv(r"C:\Users\124436\Downloads\Final_Summary_2024-07-08.csv",index_col=[0])
# d10

In [13]:
for i in d10.columns:
    if i!="City":
        print("True")
        break
    else:
        d10.drop("City",axis=1,inplace=True)

True

In [14]:
d10

,Eligible_Date,DC,DC_Type,City,State,Region,FOC_Eligible_Base,ROC_Eligible_Base,FPC_Eligible_Base,FRP_Base,...,Eligible Base_2,FAD_Outscan_Base,RAD_Outscan_Base,FPS_Outscan_Base,Outscan,Outscan/E2 %,Outscan/E2 Bucket,DC_Category,3Days_in_Red,Center_Type
0,2024-08-29,AAA,DC,JHUMRI TELAIYA,Jharkhand,Central,179.0,40.0,15.0,1.0,...,172.0,131.0,53.0,7.0,191.0,111.05,>92.50%,Green DC,0,DC
1,2024-08-29,AAD,DC,ADDANKI,Andhra Pradesh,South,29.0,12.0,26.0,26.0,...,83.0,21.0,7.0,0.0,28.0,33.73,<87.50%,Red DC,1,DC
2,2024-08-29,AAI,DC,ARARIA,Bihar,Central,188.0,44.0,34.0,0.0,...,249.0,178.0,44.0,40.0,262.0,105.22,>92.50%,Green DC,0,DC
3,2024-08-29,AAK,DC,AKAALKOT,Maharashtra,West,604.0,120.0,24.0,0.0,...,706.0,591.0,122.0,23.0,736.0,104.25,>92.50%,Green DC,0,DC
4,2024-08-29,AAL,DC,ALLUR,Andhra Pradesh,South,315.0,118.0,23.0,0.0,...,436.0,311.0,123.0,21.0,455.0,104.36,>92.50%,Green DC,0,DC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3501,2024-08-29,ZAH,DC,ZAHEERABAD,Telangana,South,469.0,297.0,49.0,1.0,...,775.0,429.0,294.0,49.0,772.0,99.61,>92.50%,Green DC,0,DC
3502,2024-08-29,ZAM,DC,ZAMANIA,Uttar Pradesh,Central,155.0,49.0,25.0,0.0,...,224.0,169.0,56.0,25.0,250.0,111.61,>92.50%,Green DC,0,DC
3503,2024-08-29,ZIR,DC,ZIRAPUR,Madhya Pradesh,West,315.0,140.0,39.0,0.0,...,484.0,305.0,159.0,40.0,504.0,104.13,>92.50%,Green DC,0,DC
3504,2024-08-29,ZRA,DC,ZIRA,Punjab,North,266.0,78.0,5.0,0.0,...,340.0,255.0,86.0,5.0,346.0,101.76,>92.50%,Green DC,0,DC
3505,2024-08-29,ZRK,DC,ZIRAKPUR,Punjab,North,441.0,119.0,41.0,0.0,...,590.0,399.0,114.0,38.0,551.0,93.39,>92.50%,Green DC,0,DC

In [15]:
import datetime
d=datetime.datetime.now()-datetime.timedelta(1)
d=d.strftime("%Y-%m-%d")
d

'2024-08-29'

In [16]:
dd=datetime.datetime.now()-datetime.timedelta(1)
dd=dd.strftime("%d %b")
dd

'29 Aug'

In [17]:
## need to run from here

In [19]:
dc=pd.read_excel(f"Capacity_Analysis - {dd}.xlsx",sheet_name="DC_Data")
dc

,Eligible_Date,DC,City Tier,DC_Type,City,State,Region,FOC_Eligible_Base,ROC_Eligible_Base,FPC_Eligible_Base,...,D-1 Mandays Actual,Excess/Short Manpower,Excess/Short,DC_Category,Remarks,FE_Sanction,Active_FE,Unique_ESP_Outscan_L3D,Unique_ESP_Outscan_L7D,Unique_ESP_Outscan_L10D
0,2024-08-29,AAA,Tier 2,DC,Jhumri Telaiya,Jharkhand,Central,179,40,8,...,6,3,Excess,Green DC,-,0,0,8,9,11
1,2024-08-29,AAD,Tier 2,DC,Addanki,Andhra Pradesh,South,29,12,26,...,2,0,Adequate,Red DC,Operational Issues,0,2,1,1,1
2,2024-08-29,AAI,Tier 2,DC,Araria,Bihar,Central,188,44,34,...,7,2,Excess,Green DC,-,2,4,3,4,4
3,2024-08-29,AAK,Tier 2,DC,Akaalkot,Maharashtra,West,604,120,24,...,14,0,Adequate,Green DC,-,1,9,7,7,7
4,2024-08-29,AAL,Tier 2,DC,Allur,Andhra Pradesh,South,315,118,23,...,8,2,Excess,Green DC,-,0,1,9,10,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3458,2024-08-29,ZAH,Tier 2,DC,Zaheerabad,Telangana,South,469,297,49,...,17,4,Excess,Green DC,-,7,15,9,9,9
3459,2024-08-29,ZAM,Tier 2,DC,Zamania,Uttar Pradesh,Central,155,49,25,...,5,1,Excess,Green DC,-,3,3,2,3,4
3460,2024-08-29,ZIR,Tier 2,DC,Zirapur,Madhya Pradesh,West,315,140,39,...,11,3,Excess,Green DC,-,2,2,12,12,13
3461,2024-08-29,ZRA,Tier 2,DC,Zira,Punjab,North,266,78,5,...,6,0,Adequate,Green DC,-,1,3,5,5,5
3462,2024-08-29,ZRK,Tier 1,DC,Zirakpur,Punjab,North,441,119,41,...,10,0,Adequate,Green DC,-,7,1,13,14,16

In [20]:
dc=dc[["DC","Remarks"]]
dc=dc.rename(columns={"Remarks":"Red DC Bucket (T-1 Day)"})
dc

       DC Red DC Bucket (T-1 Day)
0     AAA                       -
1     AAD      Operational Issues
2     AAI                       -
3     AAK                       -
4     AAL                       -
...   ...                     ...
3458  ZAH                       -
3459  ZAM                       -
3460  ZIR                       -
3461  ZRA                       -
3462  ZRK                       -

[3463 rows x 2 columns]

In [21]:
len(dc)

3463

In [22]:
d10=d10.merge(dc,on="DC",how="left")
d10

,Eligible_Date,DC,DC_Type,City,State,Region,FOC_Eligible_Base,ROC_Eligible_Base,FPC_Eligible_Base,FRP_Base,...,FAD_Outscan_Base,RAD_Outscan_Base,FPS_Outscan_Base,Outscan,Outscan/E2 %,Outscan/E2 Bucket,DC_Category,3Days_in_Red,Center_Type,Red DC Bucket (T-1 Day)
0,2024-08-29,AAA,DC,JHUMRI TELAIYA,Jharkhand,Central,179.0,40.0,15.0,1.0,...,131.0,53.0,7.0,191.0,111.05,>92.50%,Green DC,0,DC,-
1,2024-08-29,AAD,DC,ADDANKI,Andhra Pradesh,South,29.0,12.0,26.0,26.0,...,21.0,7.0,0.0,28.0,33.73,<87.50%,Red DC,1,DC,Operational Issues
2,2024-08-29,AAI,DC,ARARIA,Bihar,Central,188.0,44.0,34.0,0.0,...,178.0,44.0,40.0,262.0,105.22,>92.50%,Green DC,0,DC,-
3,2024-08-29,AAK,DC,AKAALKOT,Maharashtra,West,604.0,120.0,24.0,0.0,...,591.0,122.0,23.0,736.0,104.25,>92.50%,Green DC,0,DC,-
4,2024-08-29,AAL,DC,ALLUR,Andhra Pradesh,South,315.0,118.0,23.0,0.0,...,311.0,123.0,21.0,455.0,104.36,>92.50%,Green DC,0,DC,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3458,2024-08-29,ZAH,DC,ZAHEERABAD,Telangana,South,469.0,297.0,49.0,1.0,...,429.0,294.0,49.0,772.0,99.61,>92.50%,Green DC,0,DC,-
3459,2024-08-29,ZAM,DC,ZAMANIA,Uttar Pradesh,Central,155.0,49.0,25.0,0.0,...,169.0,56.0,25.0,250.0,111.61,>92.50%,Green DC,0,DC,-
3460,2024-08-29,ZIR,DC,ZIRAPUR,Madhya Pradesh,West,315.0,140.0,39.0,0.0,...,305.0,159.0,40.0,504.0,104.13,>92.50%,Green DC,0,DC,-
3461,2024-08-29,ZRA,DC,ZIRA,Punjab,North,266.0,78.0,5.0,0.0,...,255.0,86.0,5.0,346.0,101.76,>92.50%,Green DC,0,DC,-
3462,2024-08-29,ZRK,DC,ZIRAKPUR,Punjab,North,441.0,119.0,41.0,0.0,...,399.0,114.0,38.0,551.0,93.39,>92.50%,Green DC,0,DC,-

In [23]:
len(d10)

3463

In [24]:
pwd

'D:\\One Drive BA\\OneDrive - Ecom Express Limited\\DC Stress'

In [25]:
d=datetime.datetime.now()-datetime.timedelta(1)
d=d.strftime("%Y-%m-%d")
d

'2024-08-29'

In [26]:
#dff=pd.read_csv(f"DC Stress Classification_Apr{d}Format.csv")
dff=pd.read_csv(f"DC Stress Classification_Apr{d}Format.csv",encoding='windows-1252')
dff

,Eligible_Date,DC,DC_Type,City,State,Region,FOC_Eligible_Base,ROC_Eligible_Base,FPC_Eligible_Base,FRP_Base,...,Eligible Base_2,FAD_Outscan_Base,RAD_Outscan_Base,FPS_Outscan_Base,Outscan,Outscan/E2 %,Outscan/E2 Bucket,DC_Category,3Days_in_Red,Red DC Bucket (T-1 Day)
0,2024-08-14,AAA,DC,Jhumri Telaiya,Jharkhand,Central,304.0,94.0,17.0,0.0,...,330.0,244.0,100.0,16.0,360.0,109.09,>92.50%,Green DC,0,NaN
1,2024-08-14,AAD,DC,Addanki,Andhra Pradesh,South,83.0,30.0,13.0,72.0,...,198.0,48.0,1.0,0.0,49.0,24.75,<87.50%,Red DC,1,NaN
2,2024-08-14,AAI,DC,Araria,Bihar,Central,289.0,194.0,27.0,0.0,...,487.0,272.0,28.0,22.0,322.0,66.12,<87.50%,Red DC,1,NaN
3,2024-08-14,AAK,DC,Akaalkot,Maharashtra,West,326.0,216.0,22.0,0.0,...,543.0,310.0,229.0,22.0,561.0,103.31,>92.50%,Green DC,0,NaN
4,2024-08-14,AAL,DC,Allur,Andhra Pradesh,South,622.0,192.0,22.0,8.0,...,819.0,596.0,199.0,22.0,817.0,99.76,>92.50%,Green DC,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51880,2024-08-28,ZAH,DC,ZAHEERABAD,Telangana,South,530.0,243.0,57.0,1.0,...,800.0,588.0,258.0,66.0,912.0,114.00,>92.50%,Green DC,0,-
51881,2024-08-28,ZAM,DC,ZAMANIA,Uttar Pradesh,Central,141.0,57.0,40.0,0.0,...,234.0,134.0,62.0,40.0,236.0,100.85,>92.50%,Green DC,0,-
51882,2024-08-28,ZIR,DC,ZIRAPUR,Madhya Pradesh,West,326.0,107.0,39.0,3.0,...,471.0,323.0,129.0,214.0,666.0,141.40,>92.50%,Green DC,0,-
51883,2024-08-28,ZRA,DC,ZIRA,Punjab,North,291.0,55.0,2.0,0.0,...,332.0,272.0,71.0,2.0,345.0,103.92,>92.50%,Green DC,0,-
51884,2024-08-28,ZRK,DC,ZIRAKPUR,Punjab,North,508.0,112.0,48.0,0.0,...,648.0,476.0,120.0,48.0,644.0,99.38,>92.50%,Green DC,0,-

In [27]:
dff.shape

(51885, 23)

In [28]:
dff.columns

Index(['Eligible_Date', 'DC', 'DC_Type', 'City', 'State', 'Region',
       'FOC_Eligible_Base', 'ROC_Eligible_Base', 'FPC_Eligible_Base',
       'FRP_Base', 'Hold_At_Hub_Count', 'Eligible Base', 'Exclusions',
       'Eligible Base_2', 'FAD_Outscan_Base', 'RAD_Outscan_Base',
       'FPS_Outscan_Base', 'Outscan', 'Outscan/E2 %', 'Outscan/E2 Bucket',
       'DC_Category', '3Days_in_Red', 'Red DC Bucket (T-1 Day)'],
      dtype='object')

In [29]:
d10.shape

(3463, 24)

In [30]:
d10

,Eligible_Date,DC,DC_Type,City,State,Region,FOC_Eligible_Base,ROC_Eligible_Base,FPC_Eligible_Base,FRP_Base,...,FAD_Outscan_Base,RAD_Outscan_Base,FPS_Outscan_Base,Outscan,Outscan/E2 %,Outscan/E2 Bucket,DC_Category,3Days_in_Red,Center_Type,Red DC Bucket (T-1 Day)
0,2024-08-29,AAA,DC,JHUMRI TELAIYA,Jharkhand,Central,179.0,40.0,15.0,1.0,...,131.0,53.0,7.0,191.0,111.05,>92.50%,Green DC,0,DC,-
1,2024-08-29,AAD,DC,ADDANKI,Andhra Pradesh,South,29.0,12.0,26.0,26.0,...,21.0,7.0,0.0,28.0,33.73,<87.50%,Red DC,1,DC,Operational Issues
2,2024-08-29,AAI,DC,ARARIA,Bihar,Central,188.0,44.0,34.0,0.0,...,178.0,44.0,40.0,262.0,105.22,>92.50%,Green DC,0,DC,-
3,2024-08-29,AAK,DC,AKAALKOT,Maharashtra,West,604.0,120.0,24.0,0.0,...,591.0,122.0,23.0,736.0,104.25,>92.50%,Green DC,0,DC,-
4,2024-08-29,AAL,DC,ALLUR,Andhra Pradesh,South,315.0,118.0,23.0,0.0,...,311.0,123.0,21.0,455.0,104.36,>92.50%,Green DC,0,DC,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3458,2024-08-29,ZAH,DC,ZAHEERABAD,Telangana,South,469.0,297.0,49.0,1.0,...,429.0,294.0,49.0,772.0,99.61,>92.50%,Green DC,0,DC,-
3459,2024-08-29,ZAM,DC,ZAMANIA,Uttar Pradesh,Central,155.0,49.0,25.0,0.0,...,169.0,56.0,25.0,250.0,111.61,>92.50%,Green DC,0,DC,-
3460,2024-08-29,ZIR,DC,ZIRAPUR,Madhya Pradesh,West,315.0,140.0,39.0,0.0,...,305.0,159.0,40.0,504.0,104.13,>92.50%,Green DC,0,DC,-
3461,2024-08-29,ZRA,DC,ZIRA,Punjab,North,266.0,78.0,5.0,0.0,...,255.0,86.0,5.0,346.0,101.76,>92.50%,Green DC,0,DC,-
3462,2024-08-29,ZRK,DC,ZIRAKPUR,Punjab,North,441.0,119.0,41.0,0.0,...,399.0,114.0,38.0,551.0,93.39,>92.50%,Green DC,0,DC,-

In [31]:
for i in d10.columns:
    if i=="Center_Type":
        d10=d10.drop("Center_Type",axis=1)
    else:
        d10=d10.copy()

In [32]:
d10.columns

Index(['Eligible_Date', 'DC', 'DC_Type', 'City', 'State', 'Region',
       'FOC_Eligible_Base', 'ROC_Eligible_Base', 'FPC_Eligible_Base',
       'FRP_Base', 'Hold_At_Hub_Count', 'Eligible Base', 'Exclusions',
       'Eligible Base_2', 'FAD_Outscan_Base', 'RAD_Outscan_Base',
       'FPS_Outscan_Base', 'Outscan', 'Outscan/E2 %', 'Outscan/E2 Bucket',
       'DC_Category', '3Days_in_Red', 'Red DC Bucket (T-1 Day)'],
      dtype='object')

In [33]:
d10=d10[['Eligible_Date', 'DC', 'DC_Type', 'City', 'State', 'Region',
       'FOC_Eligible_Base', 'ROC_Eligible_Base', 'FPC_Eligible_Base',
       'FRP_Base', 'Hold_At_Hub_Count', 'Eligible Base', 'Exclusions',
       'Eligible Base_2', 'FAD_Outscan_Base', 'RAD_Outscan_Base',
       'FPS_Outscan_Base', 'Outscan', 'Outscan/E2 %', 'Outscan/E2 Bucket',
       'DC_Category', '3Days_in_Red','Red DC Bucket (T-1 Day)']]
d10

,Eligible_Date,DC,DC_Type,City,State,Region,FOC_Eligible_Base,ROC_Eligible_Base,FPC_Eligible_Base,FRP_Base,...,Eligible Base_2,FAD_Outscan_Base,RAD_Outscan_Base,FPS_Outscan_Base,Outscan,Outscan/E2 %,Outscan/E2 Bucket,DC_Category,3Days_in_Red,Red DC Bucket (T-1 Day)
0,2024-08-29,AAA,DC,JHUMRI TELAIYA,Jharkhand,Central,179.0,40.0,15.0,1.0,...,172.0,131.0,53.0,7.0,191.0,111.05,>92.50%,Green DC,0,-
1,2024-08-29,AAD,DC,ADDANKI,Andhra Pradesh,South,29.0,12.0,26.0,26.0,...,83.0,21.0,7.0,0.0,28.0,33.73,<87.50%,Red DC,1,Operational Issues
2,2024-08-29,AAI,DC,ARARIA,Bihar,Central,188.0,44.0,34.0,0.0,...,249.0,178.0,44.0,40.0,262.0,105.22,>92.50%,Green DC,0,-
3,2024-08-29,AAK,DC,AKAALKOT,Maharashtra,West,604.0,120.0,24.0,0.0,...,706.0,591.0,122.0,23.0,736.0,104.25,>92.50%,Green DC,0,-
4,2024-08-29,AAL,DC,ALLUR,Andhra Pradesh,South,315.0,118.0,23.0,0.0,...,436.0,311.0,123.0,21.0,455.0,104.36,>92.50%,Green DC,0,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3458,2024-08-29,ZAH,DC,ZAHEERABAD,Telangana,South,469.0,297.0,49.0,1.0,...,775.0,429.0,294.0,49.0,772.0,99.61,>92.50%,Green DC,0,-
3459,2024-08-29,ZAM,DC,ZAMANIA,Uttar Pradesh,Central,155.0,49.0,25.0,0.0,...,224.0,169.0,56.0,25.0,250.0,111.61,>92.50%,Green DC,0,-
3460,2024-08-29,ZIR,DC,ZIRAPUR,Madhya Pradesh,West,315.0,140.0,39.0,0.0,...,484.0,305.0,159.0,40.0,504.0,104.13,>92.50%,Green DC,0,-
3461,2024-08-29,ZRA,DC,ZIRA,Punjab,North,266.0,78.0,5.0,0.0,...,340.0,255.0,86.0,5.0,346.0,101.76,>92.50%,Green DC,0,-
3462,2024-08-29,ZRK,DC,ZIRAKPUR,Punjab,North,441.0,119.0,41.0,0.0,...,590.0,399.0,114.0,38.0,551.0,93.39,>92.50%,Green DC,0,-

In [34]:
dff.columns

Index(['Eligible_Date', 'DC', 'DC_Type', 'City', 'State', 'Region',
       'FOC_Eligible_Base', 'ROC_Eligible_Base', 'FPC_Eligible_Base',
       'FRP_Base', 'Hold_At_Hub_Count', 'Eligible Base', 'Exclusions',
       'Eligible Base_2', 'FAD_Outscan_Base', 'RAD_Outscan_Base',
       'FPS_Outscan_Base', 'Outscan', 'Outscan/E2 %', 'Outscan/E2 Bucket',
       'DC_Category', '3Days_in_Red', 'Red DC Bucket (T-1 Day)'],
      dtype='object')

In [35]:
dff.columns=d10.columns

In [36]:
dff["Eligible_Date"]=pd.to_datetime(dff["Eligible_Date"])
dff["Eligible_Date"]=dff["Eligible_Date"].astype(str)

In [37]:
d=datetime.datetime.now()-datetime.timedelta(1)
d=d.strftime("%Y-%m-%d")
d

dff=dff[dff["Eligible_Date"]!=d]

In [38]:
#dff["Eligible_Date"].value_counts()

In [39]:
# final=dff.append(d10)
# final

final = pd.concat([dff, d10], ignore_index=True)

In [40]:
final=final[final["DC"]!="DMG"]

In [41]:
import datetime
def Date(d):
    x=[]
    for i in range(d):
        x.append((datetime.datetime.today()-timedelta(i)).strftime("%Y-%m-%d"))
    return x

In [42]:
d=Date(16)
d

['2024-08-30',
 '2024-08-29',
 '2024-08-28',
 '2024-08-27',
 '2024-08-26',
 '2024-08-25',
 '2024-08-24',
 '2024-08-23',
 '2024-08-22',
 '2024-08-21',
 '2024-08-20',
 '2024-08-19',
 '2024-08-18',
 '2024-08-17',
 '2024-08-16',
 '2024-08-15']

In [43]:
final["Eligible_Date"]=final["Eligible_Date"].apply(lambda x: x.replace("/","-"))
final["Eligible_Date"].value_counts()

Eligible_Date
2024-08-17    3468
2024-08-18    3465
2024-08-19    3463
2024-08-25    3463
2024-08-29    3462
2024-08-15    3461
2024-08-14    3460
2024-08-16    3460
2024-08-28    3460
2024-08-24    3457
2024-08-26    3457
2024-08-27    3457
2024-08-21    3456
2024-08-23    3454
2024-08-22    3453
2024-08-20    3451
Name: count, dtype: int64

In [44]:
final["Eligible_Date"]=final["Eligible_Date"].apply(lambda x:str(x))
final["Eligible_Date"]=final["Eligible_Date"].apply(lambda x:x.split(" ")[0])
final["Eligible_Date"]

0        2024-08-14
1        2024-08-14
2        2024-08-14
3        2024-08-14
4        2024-08-14
            ...
55343    2024-08-29
55344    2024-08-29
55345    2024-08-29
55346    2024-08-29
55347    2024-08-29
Name: Eligible_Date, Length: 55347, dtype: object

In [45]:
final1=final[final["Eligible_Date"].apply(lambda x:x in d)]
#final1.head(2)

In [46]:
final1["Eligible_Date"].value_counts()

Eligible_Date
2024-08-17    3468
2024-08-18    3465
2024-08-19    3463
2024-08-25    3463
2024-08-29    3462
2024-08-15    3461
2024-08-16    3460
2024-08-28    3460
2024-08-24    3457
2024-08-26    3457
2024-08-27    3457
2024-08-21    3456
2024-08-23    3454
2024-08-22    3453
2024-08-20    3451
Name: count, dtype: int64

In [47]:
final1

,Eligible_Date,DC,DC_Type,City,State,Region,FOC_Eligible_Base,ROC_Eligible_Base,FPC_Eligible_Base,FRP_Base,...,Eligible Base_2,FAD_Outscan_Base,RAD_Outscan_Base,FPS_Outscan_Base,Outscan,Outscan/E2 %,Outscan/E2 Bucket,DC_Category,3Days_in_Red,Red DC Bucket (T-1 Day)
3460,2024-08-15,AAA,DC,JHUMRI TELAIYA,Jharkhand,Central,210.0,66.0,11.0,1.0,...,224.0,140.0,70.0,9.0,219.0,97.77,>92.50%,Green DC,0,-
3461,2024-08-15,AAD,DC,ADDANKI,Andhra Pradesh,South,103.0,58.0,14.0,74.0,...,249.0,22.0,29.0,0.0,51.0,20.48,<87.50%,Red DC,1,Manpower Gap
3462,2024-08-15,AAI,DC,ARARIA,Bihar,Central,232.0,138.0,24.0,0.0,...,371.0,214.0,21.0,29.0,264.0,71.16,<87.50%,Red DC,1,Operational Issues
3463,2024-08-15,AAK,DC,AKAALKOT,Maharashtra,West,396.0,147.0,19.0,0.0,...,542.0,376.0,164.0,18.0,558.0,102.95,>92.50%,Green DC,0,-
3464,2024-08-15,AAL,DC,ALLUR,Andhra Pradesh,South,454.0,167.0,41.0,1.0,...,637.0,431.0,175.0,40.0,646.0,101.41,>92.50%,Green DC,0,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55343,2024-08-29,ZAH,DC,ZAHEERABAD,Telangana,South,469.0,297.0,49.0,1.0,...,775.0,429.0,294.0,49.0,772.0,99.61,>92.50%,Green DC,0,-
55344,2024-08-29,ZAM,DC,ZAMANIA,Uttar Pradesh,Central,155.0,49.0,25.0,0.0,...,224.0,169.0,56.0,25.0,250.0,111.61,>92.50%,Green DC,0,-
55345,2024-08-29,ZIR,DC,ZIRAPUR,Madhya Pradesh,West,315.0,140.0,39.0,0.0,...,484.0,305.0,159.0,40.0,504.0,104.13,>92.50%,Green DC,0,-
55346,2024-08-29,ZRA,DC,ZIRA,Punjab,North,266.0,78.0,5.0,0.0,...,340.0,255.0,86.0,5.0,346.0,101.76,>92.50%,Green DC,0,-
55347,2024-08-29,ZRK,DC,ZIRAKPUR,Punjab,North,441.0,119.0,41.0,0.0,...,590.0,399.0,114.0,38.0,551.0,93.39,>92.50%,Green DC,0,-

In [48]:
final1=final1[final1["DC"]!="DMG"]
final1

,Eligible_Date,DC,DC_Type,City,State,Region,FOC_Eligible_Base,ROC_Eligible_Base,FPC_Eligible_Base,FRP_Base,...,Eligible Base_2,FAD_Outscan_Base,RAD_Outscan_Base,FPS_Outscan_Base,Outscan,Outscan/E2 %,Outscan/E2 Bucket,DC_Category,3Days_in_Red,Red DC Bucket (T-1 Day)
3460,2024-08-15,AAA,DC,JHUMRI TELAIYA,Jharkhand,Central,210.0,66.0,11.0,1.0,...,224.0,140.0,70.0,9.0,219.0,97.77,>92.50%,Green DC,0,-
3461,2024-08-15,AAD,DC,ADDANKI,Andhra Pradesh,South,103.0,58.0,14.0,74.0,...,249.0,22.0,29.0,0.0,51.0,20.48,<87.50%,Red DC,1,Manpower Gap
3462,2024-08-15,AAI,DC,ARARIA,Bihar,Central,232.0,138.0,24.0,0.0,...,371.0,214.0,21.0,29.0,264.0,71.16,<87.50%,Red DC,1,Operational Issues
3463,2024-08-15,AAK,DC,AKAALKOT,Maharashtra,West,396.0,147.0,19.0,0.0,...,542.0,376.0,164.0,18.0,558.0,102.95,>92.50%,Green DC,0,-
3464,2024-08-15,AAL,DC,ALLUR,Andhra Pradesh,South,454.0,167.0,41.0,1.0,...,637.0,431.0,175.0,40.0,646.0,101.41,>92.50%,Green DC,0,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55343,2024-08-29,ZAH,DC,ZAHEERABAD,Telangana,South,469.0,297.0,49.0,1.0,...,775.0,429.0,294.0,49.0,772.0,99.61,>92.50%,Green DC,0,-
55344,2024-08-29,ZAM,DC,ZAMANIA,Uttar Pradesh,Central,155.0,49.0,25.0,0.0,...,224.0,169.0,56.0,25.0,250.0,111.61,>92.50%,Green DC,0,-
55345,2024-08-29,ZIR,DC,ZIRAPUR,Madhya Pradesh,West,315.0,140.0,39.0,0.0,...,484.0,305.0,159.0,40.0,504.0,104.13,>92.50%,Green DC,0,-
55346,2024-08-29,ZRA,DC,ZIRA,Punjab,North,266.0,78.0,5.0,0.0,...,340.0,255.0,86.0,5.0,346.0,101.76,>92.50%,Green DC,0,-
55347,2024-08-29,ZRK,DC,ZIRAKPUR,Punjab,North,441.0,119.0,41.0,0.0,...,590.0,399.0,114.0,38.0,551.0,93.39,>92.50%,Green DC,0,-

In [49]:
final1.Eligible_Date.unique()

array(['2024-08-15', '2024-08-16', '2024-08-17', '2024-08-18',
       '2024-08-19', '2024-08-20', '2024-08-21', '2024-08-22',
       '2024-08-23', '2024-08-24', '2024-08-25', '2024-08-26',
       '2024-08-27', '2024-08-28', '2024-08-29'], dtype=object)

In [50]:
len(final1)

51887

In [51]:
pivot111=final1.pivot_table(index="DC",columns="Eligible_Date",values="3Days_in_Red",aggfunc="sum").astype(str)
pivot111

Eligible_Date,2024-08-15,2024-08-16,2024-08-17,2024-08-18,2024-08-19,2024-08-20,2024-08-21,2024-08-22,2024-08-23,2024-08-24,2024-08-25,2024-08-26,2024-08-27,2024-08-28,2024-08-29
DC,,,,,,,,,,,,,,,
AAA,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AAD,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
AAI,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
AAK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AAL,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZAH,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
ZAM,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
ZIR,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0
ZRA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ZRK,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [52]:
pivot111=pivot111.replace("0.0","0")
pivot111=pivot111.replace("1.0","1")
pivot111

Eligible_Date,2024-08-15,2024-08-16,2024-08-17,2024-08-18,2024-08-19,2024-08-20,2024-08-21,2024-08-22,2024-08-23,2024-08-24,2024-08-25,2024-08-26,2024-08-27,2024-08-28,2024-08-29
DC,,,,,,,,,,,,,,,
AAA,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
AAD,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
AAI,1,1,1,1,1,0,1,1,1,1,1,1,1,0,0
AAK,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
AAL,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZAH,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0
ZAM,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0
ZIR,0,0,0,0,1,0,0,0,0,1,1,1,1,0,0
ZRA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ZRK,0,1,0,1,1,0,0,0,0,0,0,1,0,0,0

In [53]:
x=pivot111.columns
x

Index(['2024-08-15', '2024-08-16', '2024-08-17', '2024-08-18', '2024-08-19',
       '2024-08-20', '2024-08-21', '2024-08-22', '2024-08-23', '2024-08-24',
       '2024-08-25', '2024-08-26', '2024-08-27', '2024-08-28', '2024-08-29'],
      dtype='object', name='Eligible_Date')

In [54]:
x=x[::-1]
x

Index(['2024-08-29', '2024-08-28', '2024-08-27', '2024-08-26', '2024-08-25',
       '2024-08-24', '2024-08-23', '2024-08-22', '2024-08-21', '2024-08-20',
       '2024-08-19', '2024-08-18', '2024-08-17', '2024-08-16', '2024-08-15'],
      dtype='object', name='Eligible_Date')

In [55]:
def cat(p,n):
    m=[]
    for i in range(p,n):
        m.append(x[i]) 
    return m

In [56]:
cat(0,15)

['2024-08-29',
 '2024-08-28',
 '2024-08-27',
 '2024-08-26',
 '2024-08-25',
 '2024-08-24',
 '2024-08-23',
 '2024-08-22',
 '2024-08-21',
 '2024-08-20',
 '2024-08-19',
 '2024-08-18',
 '2024-08-17',
 '2024-08-16',
 '2024-08-15']

In [57]:
cat(0,4)

['2024-08-29', '2024-08-28', '2024-08-27', '2024-08-26']

In [58]:
pivot111

Eligible_Date,2024-08-15,2024-08-16,2024-08-17,2024-08-18,2024-08-19,2024-08-20,2024-08-21,2024-08-22,2024-08-23,2024-08-24,2024-08-25,2024-08-26,2024-08-27,2024-08-28,2024-08-29
DC,,,,,,,,,,,,,,,
AAA,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
AAD,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
AAI,1,1,1,1,1,0,1,1,1,1,1,1,1,0,0
AAK,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
AAL,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZAH,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0
ZAM,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0
ZIR,0,0,0,0,1,0,0,0,0,1,1,1,1,0,0
ZRA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ZRK,0,1,0,1,1,0,0,0,0,0,0,1,0,0,0

In [59]:
# pivot111["3 Days"]=np.where(pivot111[cat(0,3)].sum(axis=1)==3,1,0)
# pivot111["4-5 Days"]=np.where((pivot111[cat(0,4)].sum(axis=1)==4)|(pivot111[cat(1,5)].sum(axis=1)==4)|(pivot111[cat(0,5)].sum(axis=1)==5),1,0)
# pivot111["6-7 Days"]=np.where((pivot111[cat(0,6)].sum(axis=1)==6)|(pivot111[cat(1,7)].sum(axis=1)==6)|(pivot111[cat(0,7)].sum(axis=1)==7),1,0)
# pivot111["8-9 Days"]=np.where((pivot111[cat(0,8)].sum(axis=1)==8)|(pivot111[cat(1,9)].sum(axis=1)==8)|(pivot111[cat(0,9)].sum(axis=1)==9),1,0)
# pivot111["10-11 Days"]=np.where((pivot111[cat(0,10)].sum(axis=1)==10)|(pivot111[cat(1,11)].sum(axis=1)==10)|(pivot111[cat(0,11)].sum(axis=1)==11),1,0)
# pivot111["12-13 Days"]=np.where((pivot111[cat(0,12)].sum(axis=1)==12)|(pivot111[cat(1,13)].sum(axis=1)==12)|(pivot111[cat(0,13)].sum(axis=1)==13),1,0)
# pivot111["14-15 Days"]=np.where((pivot111[cat(0,14)].sum(axis=1)==14)|(pivot111[cat(1,15)].sum(axis=1)==14)|(pivot111[cat(0,15)].sum(axis=1)==15),1,0)

In [60]:
pivot111["3concat"]=pivot111[x[0]]+pivot111[x[1]]+pivot111[x[2]]
pivot111["5concat"]=pivot111[x[0]]+pivot111[x[1]]+pivot111[x[2]]+pivot111[x[3]]+pivot111[x[4]]
pivot111["7concat"]=pivot111[x[0]]+pivot111[x[1]]+pivot111[x[2]]+pivot111[x[3]]+pivot111[x[4]]+pivot111[x[5]]+pivot111[x[6]]
pivot111["9concat"]=pivot111["7concat"]+pivot111[x[7]]+pivot111[x[8]]
pivot111["11concat"]=pivot111["9concat"]+pivot111[x[9]]+pivot111[x[10]]
pivot111["13concat"]=pivot111["11concat"]+pivot111[x[11]]+pivot111[x[12]]
pivot111["15concat"]=pivot111["13concat"]+pivot111[x[13]]+pivot111[x[14]]

In [61]:
pivot111

Eligible_Date,2024-08-15,2024-08-16,2024-08-17,2024-08-18,2024-08-19,2024-08-20,2024-08-21,2024-08-22,2024-08-23,2024-08-24,...,2024-08-27,2024-08-28,2024-08-29,3concat,5concat,7concat,9concat,11concat,13concat,15concat
DC,,,,,,,,,,,,,,,,,,,,,
AAA,0,0,0,0,1,0,0,0,0,0,...,0,0,0,000,00000,0000000,000000000,00000000001,0000000000100,000000000010000
AAD,1,1,1,1,1,1,1,1,1,1,...,1,1,1,111,11111,1111111,111111111,11111111111,1111111111111,111111111111111
AAI,1,1,1,1,1,0,1,1,1,1,...,1,0,0,001,00111,0011111,001111111,00111111101,0011111110111,001111111011111
AAK,0,0,0,0,0,0,0,0,0,0,...,0,0,0,000,00000,0000000,000000000,00000000000,0000000000000,000000000000000
AAL,0,0,0,1,0,0,0,0,0,0,...,0,0,0,000,00000,0000000,000000000,00000000000,0000000000010,000000000001000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZAH,0,0,0,0,0,0,1,0,0,1,...,0,0,0,000,00000,0000010,000001001,00000100100,0000010010000,000001001000000
ZAM,0,0,0,0,1,0,0,0,0,0,...,1,0,0,001,00101,0010100,001010000,00101000001,0010100000100,001010000010000
ZIR,0,0,0,0,1,0,0,0,0,1,...,1,0,0,001,00111,0011110,001111000,00111100001,0011110000100,001111000010000
ZRA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,000,00000,0000000,000000000,00000000000,0000000000000,000000000000000
ZRK,0,1,0,1,1,0,0,0,0,0,...,0,0,0,000,00010,0001000,000100000,00010000001,0001000000110,000100000011010

In [62]:
pivot111["3 Days"]=np.where(pivot111["3concat"]=="111",1,0)
pivot111["4-5 Days"]=np.where((pivot111["5concat"]=="01111")|(pivot111["5concat"]=="11110")|(pivot111["5concat"]=="11111"),1,0)
pivot111["6-7 Days"]=np.where((pivot111["7concat"]=="0111111")|(pivot111["7concat"]=="1111110")|(pivot111["7concat"]=="1111111"),1,0)
pivot111["8-9 Days"]=np.where((pivot111["9concat"]=="011111111")|(pivot111["9concat"]=="111111110")|(pivot111["9concat"]=="111111111"),1,0)
pivot111["10-11 Days"]=np.where((pivot111["11concat"]=="01111111111")|(pivot111["11concat"]=="11111111110")|(pivot111["11concat"]=="11111111111"),1,0)
pivot111["12-13 Days"]=np.where((pivot111["13concat"]=="0111111111111")|(pivot111["13concat"]=="1111111111110")|(pivot111["13concat"]=="1111111111111"),1,0)
pivot111["14-15 Days"]=np.where((pivot111["15concat"]=="011111111111111")|(pivot111["15concat"]=="111111111111110")|(pivot111["15concat"]=="111111111111111"),1,0)

In [63]:
pivot111

Eligible_Date,2024-08-15,2024-08-16,2024-08-17,2024-08-18,2024-08-19,2024-08-20,2024-08-21,2024-08-22,2024-08-23,2024-08-24,...,11concat,13concat,15concat,3 Days,4-5 Days,6-7 Days,8-9 Days,10-11 Days,12-13 Days,14-15 Days
DC,,,,,,,,,,,,,,,,,,,,,
AAA,0,0,0,0,1,0,0,0,0,0,...,00000000001,0000000000100,000000000010000,0,0,0,0,0,0,0
AAD,1,1,1,1,1,1,1,1,1,1,...,11111111111,1111111111111,111111111111111,1,1,1,1,1,1,1
AAI,1,1,1,1,1,0,1,1,1,1,...,00111111101,0011111110111,001111111011111,0,0,0,0,0,0,0
AAK,0,0,0,0,0,0,0,0,0,0,...,00000000000,0000000000000,000000000000000,0,0,0,0,0,0,0
AAL,0,0,0,1,0,0,0,0,0,0,...,00000000000,0000000000010,000000000001000,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZAH,0,0,0,0,0,0,1,0,0,1,...,00000100100,0000010010000,000001001000000,0,0,0,0,0,0,0
ZAM,0,0,0,0,1,0,0,0,0,0,...,00101000001,0010100000100,001010000010000,0,0,0,0,0,0,0
ZIR,0,0,0,0,1,0,0,0,0,1,...,00111100001,0011110000100,001111000010000,0,0,0,0,0,0,0
ZRA,0,0,0,0,0,0,0,0,0,0,...,00000000000,0000000000000,000000000000000,0,0,0,0,0,0,0
ZRK,0,1,0,1,1,0,0,0,0,0,...,00010000001,0001000000110,000100000011010,0,0,0,0,0,0,0

In [64]:
pivot111["14-15 Days"].sum()

174

In [65]:
pivot111["14-15d"]=np.where(pivot111["14-15 Days"]==1,1,0)
pivot111["12-13d"]=np.where(pivot111["14-15d"]==1,0,pivot111["12-13 Days"])
pivot111["10-11d"]=np.where((pivot111["14-15d"]==1)|(pivot111["12-13d"]==1),0,pivot111["10-11 Days"])
pivot111["8-9d"]=np.where((pivot111["14-15d"]==1)|(pivot111["12-13d"]==1)|(pivot111["10-11d"]==1),0,pivot111["8-9 Days"])
pivot111["6-7d"]=np.where((pivot111["14-15d"]==1)|(pivot111["12-13d"]==1)|(pivot111["10-11d"]==1)|(pivot111["8-9d"]==1),0,pivot111["6-7 Days"])
pivot111["4-5d"]=np.where((pivot111["14-15d"]==1)|(pivot111["12-13d"]==1)|(pivot111["10-11d"]==1)|(pivot111["8-9d"]==1)|(pivot111["6-7d"]==1),0,pivot111["4-5 Days"])
pivot111["3d"]=np.where((pivot111["14-15d"]==1)|(pivot111["12-13d"]==1)|(pivot111["10-11d"]==1)|(pivot111["8-9d"]==1)|(pivot111["6-7d"]==1)|(pivot111["4-5d"]==1),0,pivot111["3 Days"])

In [66]:
pd.set_option('display.max_columns', None)

In [67]:
pivot111

Eligible_Date,2024-08-15,2024-08-16,2024-08-17,2024-08-18,2024-08-19,2024-08-20,2024-08-21,2024-08-22,2024-08-23,2024-08-24,2024-08-25,2024-08-26,2024-08-27,2024-08-28,2024-08-29,3concat,5concat,7concat,9concat,11concat,13concat,15concat,3 Days,4-5 Days,6-7 Days,8-9 Days,10-11 Days,12-13 Days,14-15 Days,14-15d,12-13d,10-11d,8-9d,6-7d,4-5d,3d
DC,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
AAA,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,000,00000,0000000,000000000,00000000001,0000000000100,000000000010000,0,0,0,0,0,0,0,0,0,0,0,0,0,0
AAD,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,111,11111,1111111,111111111,11111111111,1111111111111,111111111111111,1,1,1,1,1,1,1,1,0,0,0,0,0,0
AAI,1,1,1,1,1,0,1,1,1,1,1,1,1,0,0,001,00111,0011111,001111111,00111111101,0011111110111,001111111011111,0,0,0,0,0,0,0,0,0,0,0,0,0,0
AAK,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,000,00000,0000000,000000000,00000000000,0000000000000,000000000000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0
AAL,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,000,00000,0000000,000000000,00000000000,0000000000010,000000000001000,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZAH,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,000,00000,0000010,000001001,00000100100,0000010010000,000001001000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ZAM,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,001,00101,0010100,001010000,00101000001,0010100000100,001010000010000,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ZIR,0,0,0,0,1,0,0,0,0,1,1,1,1,0,0,001,00111,0011110,001111000,00111100001,0011110000100,001111000010000,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ZRA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,000,00000,0000000,000000000,00000000000,0000000000000,000000000000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ZRK,0,1,0,1,1,0,0,0,0,0,0,1,0,0,0,000,00010,0001000,000100000,00010000001,0001000000110,000100000011010,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [68]:
d_1=datetime.datetime.today()-datetime.timedelta(1)
d_1=d_1.strftime("%Y-%m-%d")
d_1

'2024-08-29'

In [69]:
pivot111["D-1 Red"]=pivot111[d_1]
pivot111["sum"]=pivot111["14-15d"]+pivot111["12-13d"]+pivot111["10-11d"]+pivot111["8-9d"]+pivot111["6-7d"]+pivot111["4-5d"]+pivot111["3d"]

In [70]:
pivot111

Eligible_Date,2024-08-15,2024-08-16,2024-08-17,2024-08-18,2024-08-19,2024-08-20,2024-08-21,2024-08-22,2024-08-23,2024-08-24,2024-08-25,2024-08-26,2024-08-27,2024-08-28,2024-08-29,3concat,5concat,7concat,9concat,11concat,13concat,15concat,3 Days,4-5 Days,6-7 Days,8-9 Days,10-11 Days,12-13 Days,14-15 Days,14-15d,12-13d,10-11d,8-9d,6-7d,4-5d,3d,D-1 Red,sum
DC,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
AAA,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,000,00000,0000000,000000000,00000000001,0000000000100,000000000010000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
AAD,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,111,11111,1111111,111111111,11111111111,1111111111111,111111111111111,1,1,1,1,1,1,1,1,0,0,0,0,0,0,1,1
AAI,1,1,1,1,1,0,1,1,1,1,1,1,1,0,0,001,00111,0011111,001111111,00111111101,0011111110111,001111111011111,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
AAK,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,000,00000,0000000,000000000,00000000000,0000000000000,000000000000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
AAL,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,000,00000,0000000,000000000,00000000000,0000000000010,000000000001000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZAH,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,000,00000,0000010,000001001,00000100100,0000010010000,000001001000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ZAM,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,001,00101,0010100,001010000,00101000001,0010100000100,001010000010000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ZIR,0,0,0,0,1,0,0,0,0,1,1,1,1,0,0,001,00111,0011110,001111000,00111100001,0011110000100,001111000010000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ZRA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,000,00000,0000000,000000000,00000000000,0000000000000,000000000000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ZRK,0,1,0,1,1,0,0,0,0,0,0,1,0,0,0,000,00010,0001000,000100000,00010000001,0001000000110,000100000011010,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [71]:
len(pivot111)

3493

In [72]:
pivot1=pivot111.reset_index()
pivot1

Eligible_Date,DC,2024-08-15,2024-08-16,2024-08-17,2024-08-18,2024-08-19,2024-08-20,2024-08-21,2024-08-22,2024-08-23,2024-08-24,2024-08-25,2024-08-26,2024-08-27,2024-08-28,2024-08-29,3concat,5concat,7concat,9concat,11concat,13concat,15concat,3 Days,4-5 Days,6-7 Days,8-9 Days,10-11 Days,12-13 Days,14-15 Days,14-15d,12-13d,10-11d,8-9d,6-7d,4-5d,3d,D-1 Red,sum
0,AAA,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,000,00000,0000000,000000000,00000000001,0000000000100,000000000010000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,AAD,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,111,11111,1111111,111111111,11111111111,1111111111111,111111111111111,1,1,1,1,1,1,1,1,0,0,0,0,0,0,1,1
2,AAI,1,1,1,1,1,0,1,1,1,1,1,1,1,0,0,001,00111,0011111,001111111,00111111101,0011111110111,001111111011111,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,AAK,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,000,00000,0000000,000000000,00000000000,0000000000000,000000000000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,AAL,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,000,00000,0000000,000000000,00000000000,0000000000010,000000000001000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3488,ZAH,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,000,00000,0000010,000001001,00000100100,0000010010000,000001001000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3489,ZAM,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,001,00101,0010100,001010000,00101000001,0010100000100,001010000010000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3490,ZIR,0,0,0,0,1,0,0,0,0,1,1,1,1,0,0,001,00111,0011110,001111000,00111100001,0011110000100,001111000010000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3491,ZRA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,000,00000,0000000,000000000,00000000000,0000000000000,000000000000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3492,ZRK,0,1,0,1,1,0,0,0,0,0,0,1,0,0,0,000,00010,0001000,000100000,00010000001,0001000000110,000100000011010,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [73]:
final11=final1[["DC","City","State","Region"]]
final11=final11.drop_duplicates("DC",keep="first")
final11

         DC            City           State   Region
3460    AAA  JHUMRI TELAIYA       Jharkhand  Central
3461    AAD         ADDANKI  Andhra Pradesh    South
3462    AAI          ARARIA           Bihar  Central
3463    AAK        AKAALKOT     Maharashtra     West
3464    AAL           ALLUR  Andhra Pradesh    South
...     ...             ...             ...      ...
49387  EJAS          JAIPUR       Rajasthan    North
50386   MGN        MALEGAON     Maharashtra     West
51164   QJA          JAIPUR       Rajasthan    North
51166   QJI          JAIPUR       Rajasthan    North
53959  MKXJ       KARIMGANJ           Assam     East

[3493 rows x 4 columns]

In [74]:

pivot1=pivot1.merge(final11,on="DC",how="left")
pivot1

,DC,2024-08-15,2024-08-16,2024-08-17,2024-08-18,2024-08-19,2024-08-20,2024-08-21,2024-08-22,2024-08-23,2024-08-24,2024-08-25,2024-08-26,2024-08-27,2024-08-28,2024-08-29,3concat,5concat,7concat,9concat,11concat,13concat,15concat,3 Days,4-5 Days,6-7 Days,8-9 Days,10-11 Days,12-13 Days,14-15 Days,14-15d,12-13d,10-11d,8-9d,6-7d,4-5d,3d,D-1 Red,sum,City,State,Region
0,AAA,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,000,00000,0000000,000000000,00000000001,0000000000100,000000000010000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,JHUMRI TELAIYA,Jharkhand,Central
1,AAD,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,111,11111,1111111,111111111,11111111111,1111111111111,111111111111111,1,1,1,1,1,1,1,1,0,0,0,0,0,0,1,1,ADDANKI,Andhra Pradesh,South
2,AAI,1,1,1,1,1,0,1,1,1,1,1,1,1,0,0,001,00111,0011111,001111111,00111111101,0011111110111,001111111011111,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,ARARIA,Bihar,Central
3,AAK,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,000,00000,0000000,000000000,00000000000,0000000000000,000000000000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,AKAALKOT,Maharashtra,West
4,AAL,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,000,00000,0000000,000000000,00000000000,0000000000010,000000000001000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,ALLUR,Andhra Pradesh,South
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3488,ZAH,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,000,00000,0000010,000001001,00000100100,0000010010000,000001001000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,ZAHEERABAD,Telangana,South
3489,ZAM,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,001,00101,0010100,001010000,00101000001,0010100000100,001010000010000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,ZAMANIA,Uttar Pradesh,Central
3490,ZIR,0,0,0,0,1,0,0,0,0,1,1,1,1,0,0,001,00111,0011110,001111000,00111100001,0011110000100,001111000010000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,ZIRAPUR,Madhya Pradesh,West
3491,ZRA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,000,00000,0000000,000000000,00000000000,0000000000000,000000000000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,ZIRA,Punjab,North
3492,ZRK,0,1,0,1,1,0,0,0,0,0,0,1,0,0,0,000,00010,0001000,000100000,00010000001,0001000000110,000100000011010,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,ZIRAKPUR,Punjab,North

In [75]:
len(pivot1)

3493

In [76]:
pivot1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3493 entries, 0 to 3492
Data columns (total 42 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   DC          3493 non-null   object
 1   2024-08-15  3493 non-null   object
 2   2024-08-16  3493 non-null   object
 3   2024-08-17  3493 non-null   object
 4   2024-08-18  3493 non-null   object
 5   2024-08-19  3493 non-null   object
 6   2024-08-20  3493 non-null   object
 7   2024-08-21  3493 non-null   object
 8   2024-08-22  3493 non-null   object
 9   2024-08-23  3493 non-null   object
 10  2024-08-24  3493 non-null   object
 11  2024-08-25  3493 non-null   object
 12  2024-08-26  3493 non-null   object
 13  2024-08-27  3493 non-null   object
 14  2024-08-28  3493 non-null   object
 15  2024-08-29  3493 non-null   object
 16  3concat     3493 non-null   object
 17  5concat     3493 non-null   object
 18  7concat     3493 non-null   object
 19  9concat     3493 non-null   object
 20  11concat    3493 non-null   object
 21  13concat    3493 non-null   object
 22  15concat    3493 non-null   object
 23  3 Days      3493 non-null   int32
 24  4-5 Days    3493 non-null   int32
 25  6-7 Days    3493 non-null   int32
 26  8-9 Days    3493 non-null   int32
 27  10-11 Days  3493 non-null   int32
 28  12-13 Days  3493 non-null   int32
 29  14-15 Days  3493 non-null   int32
 30  14-15d      3493 non-null   int32
 31  12-13d      3493 non-null   int32
 32  10-11d      3493 non-null   int32
 33  8-9d        3493 non-null   int32
 34  6-7d        3493 non-null   int32
 35  4-5d        3493 non-null   int32
 36  3d          3493 non-null   int32
 37  D-1 Red     3493 non-null   object
 38  sum         3493 non-null   int32
 39  City        3493 non-null   object
 40  State       3493 non-null   object
 41  Region      3493 non-null   object
dtypes: int32(15), object(27)
memory usage: 941.6+ KB

In [77]:
pivot1.columns

Index(['DC', '2024-08-15', '2024-08-16', '2024-08-17', '2024-08-18',
       '2024-08-19', '2024-08-20', '2024-08-21', '2024-08-22', '2024-08-23',
       '2024-08-24', '2024-08-25', '2024-08-26', '2024-08-27', '2024-08-28',
       '2024-08-29', '3concat', '5concat', '7concat', '9concat', '11concat',
       '13concat', '15concat', '3 Days', '4-5 Days', '6-7 Days', '8-9 Days',
       '10-11 Days', '12-13 Days', '14-15 Days', '14-15d', '12-13d', '10-11d',
       '8-9d', '6-7d', '4-5d', '3d', 'D-1 Red', 'sum', 'City', 'State',
       'Region'],
      dtype='object')

In [78]:
pivot2=pivot1[(pivot1["D-1 Red"]=="1")|(pivot1["sum"]=="1")].pivot_table(index="Region",values=['14-15d','12-13d', '10-11d', '8-9d', '6-7d', '4-5d', '3d'],aggfunc="sum",margins=True)
pivot2

         10-11d  12-13d  14-15d  3d  4-5d  6-7d  8-9d
Region
Central       2       4      15   9    13     9     2
East          0       2      11   6     5     0     2
North         3       2      29   5     2     2     1
South         1       0      26   5     4     2     3
South 2       0       0      17   3     1     3     1
West          3       7      53   6    21     5     2
All           9      15     151  34    46    21    11

In [79]:
pivot2=pivot2.reset_index()
pivot2

    Region  10-11d  12-13d  14-15d  3d  4-5d  6-7d  8-9d
0  Central       2       4      15   9    13     9     2
1     East       0       2      11   6     5     0     2
2    North       3       2      29   5     2     2     1
3    South       1       0      26   5     4     2     3
4  South 2       0       0      17   3     1     3     1
5     West       3       7      53   6    21     5     2
6      All       9      15     151  34    46    21    11

In [80]:
pivot2=pivot2[['Region','3d','4-5d','6-7d','8-9d','10-11d','12-13d','14-15d']]
pivot2

    Region  3d  4-5d  6-7d  8-9d  10-11d  12-13d  14-15d
0  Central   9    13     9     2       2       4      15
1     East   6     5     0     2       0       2      11
2    North   5     2     2     1       3       2      29
3    South   5     4     2     3       1       0      26
4  South 2   3     1     3     1       0       0      17
5     West   6    21     5     2       3       7      53
6      All  34    46    21    11       9      15     151

In [81]:
pivot2.columns=('Region','3 Days','4-5 Days','6-7 Days','8-9 Days','10-11 Days','12-13 Days','14-15 Days')
pivot2

,Region,3 Days,4-5 Days,6-7 Days,8-9 Days,10-11 Days,12-13 Days,14-15 Days
0,Central,9,13,9,2,2,4,15
1,East,6,5,0,2,0,2,11
2,North,5,2,2,1,3,2,29
3,South,5,4,2,3,1,0,26
4,South 2,3,1,3,1,0,0,17
5,West,6,21,5,2,3,7,53
6,All,34,46,21,11,9,15,151

In [82]:
m=['3 Days', '4-5 Days', '6-7 Days', '8-9 Days', '10-11 Days','12-13 Days', '14-15 Days']

In [83]:
pivot2["Total"]=pivot2[m].sum(axis=1)

In [84]:
pivot2

,Region,3 Days,4-5 Days,6-7 Days,8-9 Days,10-11 Days,12-13 Days,14-15 Days,Total
0,Central,9,13,9,2,2,4,15,54
1,East,6,5,0,2,0,2,11,26
2,North,5,2,2,1,3,2,29,44
3,South,5,4,2,3,1,0,26,41
4,South 2,3,1,3,1,0,0,17,25
5,West,6,21,5,2,3,7,53,97
6,All,34,46,21,11,9,15,151,287

In [85]:
pivot3=pivot1.pivot_table(index="Region",values=['3 Days', '4-5 Days', '6-7 Days','8-9 Days', '10-11 Days', '12-13 Days', '14-15 Days'],aggfunc="sum",margins=True)

In [86]:
pivot3=pivot3.reset_index()
pivot3

,Region,10-11 Days,12-13 Days,14-15 Days,3 Days,4-5 Days,6-7 Days,8-9 Days
0,Central,26,24,19,54,63,43,32
1,East,15,15,12,26,24,17,17
2,North,39,35,33,44,48,43,40
3,South,32,31,31,41,45,41,36
4,South 2,27,26,26,25,35,33,28
5,West,64,60,53,97,100,72,66
6,All,203,191,174,287,315,249,219

In [87]:
pivot3=pivot3[['Region','3 Days','4-5 Days','6-7 Days','8-9 Days','10-11 Days','12-13 Days','14-15 Days']]
pivot3

,Region,3 Days,4-5 Days,6-7 Days,8-9 Days,10-11 Days,12-13 Days,14-15 Days
0,Central,54,63,43,32,26,24,19
1,East,26,24,17,17,15,15,12
2,North,44,48,43,40,39,35,33
3,South,41,45,41,36,32,31,31
4,South 2,25,35,33,28,27,26,26
5,West,97,100,72,66,64,60,53
6,All,287,315,249,219,203,191,174

In [88]:
pivot3["Total"]=pivot3[m].sum(axis=1)

In [89]:
pivot3

,Region,3 Days,4-5 Days,6-7 Days,8-9 Days,10-11 Days,12-13 Days,14-15 Days,Total
0,Central,54,63,43,32,26,24,19,261
1,East,26,24,17,17,15,15,12,126
2,North,44,48,43,40,39,35,33,282
3,South,41,45,41,36,32,31,31,257
4,South 2,25,35,33,28,27,26,26,200
5,West,97,100,72,66,64,60,53,512
6,All,287,315,249,219,203,191,174,1638

In [90]:
import datetime
d=datetime.datetime.now()-datetime.timedelta(1)
d=d.strftime("%Y-%m-%d")
d

'2024-08-29'

In [91]:
final2=final1[final1["Eligible_Date"]==d]
final2

,Eligible_Date,DC,DC_Type,City,State,Region,FOC_Eligible_Base,ROC_Eligible_Base,FPC_Eligible_Base,FRP_Base,Hold_At_Hub_Count,Eligible Base,Exclusions,Eligible Base_2,FAD_Outscan_Base,RAD_Outscan_Base,FPS_Outscan_Base,Outscan,Outscan/E2 %,Outscan/E2 Bucket,DC_Category,3Days_in_Red,Red DC Bucket (T-1 Day)
51885,2024-08-29,AAA,DC,JHUMRI TELAIYA,Jharkhand,Central,179.0,40.0,15.0,1.0,0.0,235.0,63.0,172.0,131.0,53.0,7.0,191.0,111.05,>92.50%,Green DC,0,-
51886,2024-08-29,AAD,DC,ADDANKI,Andhra Pradesh,South,29.0,12.0,26.0,26.0,0.0,93.0,10.0,83.0,21.0,7.0,0.0,28.0,33.73,<87.50%,Red DC,1,Operational Issues
51887,2024-08-29,AAI,DC,ARARIA,Bihar,Central,188.0,44.0,34.0,0.0,0.0,266.0,17.0,249.0,178.0,44.0,40.0,262.0,105.22,>92.50%,Green DC,0,-
51888,2024-08-29,AAK,DC,AKAALKOT,Maharashtra,West,604.0,120.0,24.0,0.0,0.0,748.0,42.0,706.0,591.0,122.0,23.0,736.0,104.25,>92.50%,Green DC,0,-
51889,2024-08-29,AAL,DC,ALLUR,Andhra Pradesh,South,315.0,118.0,23.0,0.0,0.0,456.0,20.0,436.0,311.0,123.0,21.0,455.0,104.36,>92.50%,Green DC,0,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55343,2024-08-29,ZAH,DC,ZAHEERABAD,Telangana,South,469.0,297.0,49.0,1.0,0.0,816.0,41.0,775.0,429.0,294.0,49.0,772.0,99.61,>92.50%,Green DC,0,-
55344,2024-08-29,ZAM,DC,ZAMANIA,Uttar Pradesh,Central,155.0,49.0,25.0,0.0,0.0,229.0,5.0,224.0,169.0,56.0,25.0,250.0,111.61,>92.50%,Green DC,0,-
55345,2024-08-29,ZIR,DC,ZIRAPUR,Madhya Pradesh,West,315.0,140.0,39.0,0.0,0.0,494.0,10.0,484.0,305.0,159.0,40.0,504.0,104.13,>92.50%,Green DC,0,-
55346,2024-08-29,ZRA,DC,ZIRA,Punjab,North,266.0,78.0,5.0,0.0,0.0,349.0,9.0,340.0,255.0,86.0,5.0,346.0,101.76,>92.50%,Green DC,0,-
55347,2024-08-29,ZRK,DC,ZIRAKPUR,Punjab,North,441.0,119.0,41.0,0.0,0.0,601.0,11.0,590.0,399.0,114.0,38.0,551.0,93.39,>92.50%,Green DC,0,-

In [92]:
state2=final2.pivot_table(index="State",columns="DC_Category",values="DC",aggfunc="count").fillna(0)
state2=state2.reset_index()
state2

DC_Category                   State  Green DC  Orange DC  Red DC
0               Andaman And Nicobar       4.0        0.0     0.0
1                    Andhra Pradesh     208.0        3.0    38.0
2                 Arunachal Pradesh       2.0        0.0     1.0
3                             Assam      91.0        8.0    35.0
4                             Bihar     144.0        2.0    33.0
5                        Chandigarh       2.0        0.0     0.0
6                      Chhattisgarh      91.0        5.0     9.0
7            Dadra And Nagar Haveli       0.0        0.0     1.0
8                             Delhi      48.0        1.0     2.0
9                               Goa       4.0        0.0     5.0
10                          Gujarat      94.0        2.0    54.0
11                          Haryana      60.0        4.0    16.0
12                 Himachal Pradesh      26.0        1.0     0.0
13                Jammu And Kashmir      30.0        3.0     8.0
14                        Jharkhand      69.0        5.0    16.0
15                        Karnataka     224.0        6.0    25.0
16                           Kerala      94.0        2.0     9.0
17                   Madhya Pradesh     171.0        6.0    37.0
18                      Maharashtra     226.0        4.0    75.0
19                          Manipur      18.0        1.0     1.0
20                        Meghalaya       1.0        0.0     4.0
21                          Mizoram       2.0        0.0     0.0
22                         Nagaland      11.0        1.0     1.0
23                           Odisha     143.0        1.0    14.0
24                       Puducherry       3.0        1.0     1.0
25                           Punjab      75.0        1.0    10.0
26                        Rajasthan     138.0        9.0    58.0
27                           Sikkim       7.0        0.0     0.0
28                       Tamil Nadu     203.0        6.0    12.0
29                        Telangana     160.0        4.0    16.0
30                          Tripura       8.0        0.0     5.0
31                    Uttar Pradesh     294.0        5.0    46.0
32                      Uttarakhand      15.0        0.0     4.0
33                      West Bengal     161.0        9.0     9.0

In [93]:
state2["Grand Total"]=state2["Green DC"]+state2["Orange DC"]+state2["Red DC"]
state2

DC_Category                   State  Green DC  Orange DC  Red DC  Grand Total
0               Andaman And Nicobar       4.0        0.0     0.0          4.0
1                    Andhra Pradesh     208.0        3.0    38.0        249.0
2                 Arunachal Pradesh       2.0        0.0     1.0          3.0
3                             Assam      91.0        8.0    35.0        134.0
4                             Bihar     144.0        2.0    33.0        179.0
5                        Chandigarh       2.0        0.0     0.0          2.0
6                      Chhattisgarh      91.0        5.0     9.0        105.0
7            Dadra And Nagar Haveli       0.0        0.0     1.0          1.0
8                             Delhi      48.0        1.0     2.0         51.0
9                               Goa       4.0        0.0     5.0          9.0
10                          Gujarat      94.0        2.0    54.0        150.0
11                          Haryana      60.0        4.0    16.0         80.0
12                 Himachal Pradesh      26.0        1.0     0.0         27.0
13                Jammu And Kashmir      30.0        3.0     8.0         41.0
14                        Jharkhand      69.0        5.0    16.0         90.0
15                        Karnataka     224.0        6.0    25.0        255.0
16                           Kerala      94.0        2.0     9.0        105.0
17                   Madhya Pradesh     171.0        6.0    37.0        214.0
18                      Maharashtra     226.0        4.0    75.0        305.0
19                          Manipur      18.0        1.0     1.0         20.0
20                        Meghalaya       1.0        0.0     4.0          5.0
21                          Mizoram       2.0        0.0     0.0          2.0
22                         Nagaland      11.0        1.0     1.0         13.0
23                           Odisha     143.0        1.0    14.0        158.0
24                       Puducherry       3.0        1.0     1.0          5.0
25                           Punjab      75.0        1.0    10.0         86.0
26                        Rajasthan     138.0        9.0    58.0        205.0
27                           Sikkim       7.0        0.0     0.0          7.0
28                       Tamil Nadu     203.0        6.0    12.0        221.0
29                        Telangana     160.0        4.0    16.0        180.0
30                          Tripura       8.0        0.0     5.0         13.0
31                    Uttar Pradesh     294.0        5.0    46.0        345.0
32                      Uttarakhand      15.0        0.0     4.0         19.0
33                      West Bengal     161.0        9.0     9.0        179.0

In [94]:
state2=state2.sort_values(by="Grand Total",ascending=False)
state2

DC_Category                   State  Green DC  Orange DC  Red DC  Grand Total
31                    Uttar Pradesh     294.0        5.0    46.0        345.0
18                      Maharashtra     226.0        4.0    75.0        305.0
15                        Karnataka     224.0        6.0    25.0        255.0
1                    Andhra Pradesh     208.0        3.0    38.0        249.0
28                       Tamil Nadu     203.0        6.0    12.0        221.0
17                   Madhya Pradesh     171.0        6.0    37.0        214.0
26                        Rajasthan     138.0        9.0    58.0        205.0
29                        Telangana     160.0        4.0    16.0        180.0
33                      West Bengal     161.0        9.0     9.0        179.0
4                             Bihar     144.0        2.0    33.0        179.0
23                           Odisha     143.0        1.0    14.0        158.0
10                          Gujarat      94.0        2.0    54.0        150.0
3                             Assam      91.0        8.0    35.0        134.0
16                           Kerala      94.0        2.0     9.0        105.0
6                      Chhattisgarh      91.0        5.0     9.0        105.0
14                        Jharkhand      69.0        5.0    16.0         90.0
25                           Punjab      75.0        1.0    10.0         86.0
11                          Haryana      60.0        4.0    16.0         80.0
8                             Delhi      48.0        1.0     2.0         51.0
13                Jammu And Kashmir      30.0        3.0     8.0         41.0
12                 Himachal Pradesh      26.0        1.0     0.0         27.0
19                          Manipur      18.0        1.0     1.0         20.0
32                      Uttarakhand      15.0        0.0     4.0         19.0
22                         Nagaland      11.0        1.0     1.0         13.0
30                          Tripura       8.0        0.0     5.0         13.0
9                               Goa       4.0        0.0     5.0          9.0
27                           Sikkim       7.0        0.0     0.0          7.0
20                        Meghalaya       1.0        0.0     4.0          5.0
24                       Puducherry       3.0        1.0     1.0          5.0
0               Andaman And Nicobar       4.0        0.0     0.0          4.0
2                 Arunachal Pradesh       2.0        0.0     1.0          3.0
5                        Chandigarh       2.0        0.0     0.0          2.0
21                          Mizoram       2.0        0.0     0.0          2.0
7            Dadra And Nagar Haveli       0.0        0.0     1.0          1.0

In [95]:
cat2=final2.pivot_table(index="DC_Category",columns="DC_Type",values="DC",aggfunc="count",margins=True).fillna(0)
cat2=cat2.reset_index()
cat2

DC_Type DC_Category    DC  MDC   All
0          Green DC  2674  153  2827
1         Orange DC    79   11    90
2            Red DC   478   67   545
3               All  3231  231  3462

In [96]:
reg2=final2.pivot_table(index="Region",columns="DC_Category",values="DC",aggfunc="count",margins=True).fillna(0)
reg2=reg2.reset_index()
reg2

DC_Category   Region  Green DC  Orange DC  Red DC   All
0            Central       522         12      99   633
1               East       539         25      79   643
2              North       379         19      94   492
3              South       574         14      67   655
4            South 2       322          8      39   369
5               West       491         12     167   670
6                All      2827         90     545  3462

In [97]:
buk2=final2.pivot_table(index="Region",columns="Red DC Bucket (T-1 Day)",values="DC",aggfunc="count",margins=True).fillna(0)
buk2=buk2.reset_index()
buk2

Red DC Bucket (T-1 Day),Region,-,Manpower Gap,Operational Issues,Volume Allocation,All
0,Central,535,28,47,23,633
1,East,564,18,52,9,643
2,North,398,29,55,10,492
3,South,588,28,23,16,655
4,South 2,330,17,13,9,369
5,West,502,64,40,64,670
6,All,2917,184,230,131,3462

In [98]:
buk2.drop("-",axis=1,inplace=True)

In [99]:
buk2

Red DC Bucket (T-1 Day),Region,Manpower Gap,Operational Issues,Volume Allocation,All
0,Central,28,47,23,633
1,East,18,52,9,643
2,North,29,55,10,492
3,South,28,23,16,655
4,South 2,17,13,9,369
5,West,64,40,64,670
6,All,184,230,131,3462

In [100]:
buk2["Total"]=buk2["Manpower Gap"]+buk2["Operational Issues"]+buk2["Volume Allocation"]

In [101]:
#buk2.drop("All",inplace=True)
buk2.drop('All',axis=1,inplace=True)

In [102]:
buk2=buk2[["Region",'Operational Issues','Manpower Gap','Volume Allocation','Total']]
buk2

Red DC Bucket (T-1 Day),Region,Operational Issues,Manpower Gap,Volume Allocation,Total
0,Central,47,28,23,98
1,East,52,18,9,79
2,North,55,29,10,94
3,South,23,28,16,67
4,South 2,13,17,9,39
5,West,40,64,64,168
6,All,230,184,131,545

In [103]:
total=buk2.iloc[-1,-1]
total

545

In [104]:
state2=state2[['State','Red DC','Orange DC','Green DC','Grand Total']]
state2=state2.rename(columns={'Orange DC':'Amber'})
state2

DC_Category                   State  Red DC  Amber  Green DC  Grand Total
31                    Uttar Pradesh    46.0    5.0     294.0        345.0
18                      Maharashtra    75.0    4.0     226.0        305.0
15                        Karnataka    25.0    6.0     224.0        255.0
1                    Andhra Pradesh    38.0    3.0     208.0        249.0
28                       Tamil Nadu    12.0    6.0     203.0        221.0
17                   Madhya Pradesh    37.0    6.0     171.0        214.0
26                        Rajasthan    58.0    9.0     138.0        205.0
29                        Telangana    16.0    4.0     160.0        180.0
33                      West Bengal     9.0    9.0     161.0        179.0
4                             Bihar    33.0    2.0     144.0        179.0
23                           Odisha    14.0    1.0     143.0        158.0
10                          Gujarat    54.0    2.0      94.0        150.0
3                             Assam    35.0    8.0      91.0        134.0
16                           Kerala     9.0    2.0      94.0        105.0
6                      Chhattisgarh     9.0    5.0      91.0        105.0
14                        Jharkhand    16.0    5.0      69.0         90.0
25                           Punjab    10.0    1.0      75.0         86.0
11                          Haryana    16.0    4.0      60.0         80.0
8                             Delhi     2.0    1.0      48.0         51.0
13                Jammu And Kashmir     8.0    3.0      30.0         41.0
12                 Himachal Pradesh     0.0    1.0      26.0         27.0
19                          Manipur     1.0    1.0      18.0         20.0
32                      Uttarakhand     4.0    0.0      15.0         19.0
22                         Nagaland     1.0    1.0      11.0         13.0
30                          Tripura     5.0    0.0       8.0         13.0
9                               Goa     5.0    0.0       4.0          9.0
27                           Sikkim     0.0    0.0       7.0          7.0
20                        Meghalaya     4.0    0.0       1.0          5.0
24                       Puducherry     1.0    1.0       3.0          5.0
0               Andaman And Nicobar     0.0    0.0       4.0          4.0
2                 Arunachal Pradesh     1.0    0.0       2.0          3.0
5                        Chandigarh     0.0    0.0       2.0          2.0
21                          Mizoram     0.0    0.0       2.0          2.0
7            Dadra And Nagar Haveli     1.0    0.0       0.0          1.0

In [105]:
cat2=cat2.rename(columns={'All':'Grand Total'})
cat2

DC_Type DC_Category    DC  MDC  Grand Total
0          Green DC  2674  153         2827
1         Orange DC    79   11           90
2            Red DC   478   67          545
3               All  3231  231         3462

In [106]:
reg2=reg2[["Region",'Red DC','Orange DC','Green DC','All']]
reg2=reg2.rename(columns={'Orange DC':'Amber','All':'Grand Total'})
reg2

DC_Category   Region  Red DC  Amber  Green DC  Grand Total
0            Central      99     12       522          633
1               East      79     25       539          643
2              North      94     19       379          492
3              South      67     14       574          655
4            South 2      39      8       322          369
5               West     167     12       491          670
6                All     545     90      2827         3462

In [107]:
pivot111.to_csv("output.csv")

In [108]:
def table_style2(x):
    f = x.style.format(precision=0, na_rep='MISSING', thousands=",",
                formatter={('RCA NEW',"DAY 1:AFN",'DAY 1:AFN%',"DAY 1:MFN","DAY 1:MFN%","DAY 2:AFN","DAY2:AFN%","DAY 2:MFN","DAY 2:MFN%","DAY 3:AFN","DAY 3:AFN%","DAY 3:MFN","DAY 3:MFN%"): "{:.2f}"
                    
                          }).set_properties(**{'text-align': 'center',
                                               'border-color':'black',
                                               'white-space':'nowrap',
                                               'border-style':'solid',
                                               'border-width':'thin',
                                               "font-size": "10pt",
                                               'border-collapse':'collapse',
                                               'background':'#f7f7fa',
                                                            'width':'100px'
                                               
                                              }).set_table_styles([{'selector':'th','props': [('background', '#0E48A0'),
                                                                                                     ('text-align', 'center'),
                                                                                                      ('white-space','nowrap'),
                                                                                                     ('border-color', 'black'),
                                                                                                     ('border-style','solid'),
                                                                                                     ("font-size", "10pt"),
                                                                                                     ("color",'#FFFFFF'),
                                                                                                     ('border-width','thin'),
                                                                                                     ('font-family',['Impact', 'Charcoal', 'sans-serif'])]}]).hide(axis="index")
    return f

In [109]:
pivot2=table_style2(pivot2)
pivot2

In [110]:
pivot3=table_style2(pivot3)
pivot3

In [111]:
state2=table_style2(state2)
state2

In [112]:
cat2=table_style2(cat2)
cat2

In [113]:
buk2=table_style2(buk2)
buk2

In [114]:
reg2=table_style2(reg2)
reg2

In [115]:
import datetime
d=datetime.datetime.now()-datetime.timedelta(0)
d=d.strftime("%Y-%m-%d")
d

'2024-08-30'

In [116]:
final1

,Eligible_Date,DC,DC_Type,City,State,Region,FOC_Eligible_Base,ROC_Eligible_Base,FPC_Eligible_Base,FRP_Base,Hold_At_Hub_Count,Eligible Base,Exclusions,Eligible Base_2,FAD_Outscan_Base,RAD_Outscan_Base,FPS_Outscan_Base,Outscan,Outscan/E2 %,Outscan/E2 Bucket,DC_Category,3Days_in_Red,Red DC Bucket (T-1 Day)
3460,2024-08-15,AAA,DC,JHUMRI TELAIYA,Jharkhand,Central,210.0,66.0,11.0,1.0,0.0,288.0,64.0,224.0,140.0,70.0,9.0,219.0,97.77,>92.50%,Green DC,0,-
3461,2024-08-15,AAD,DC,ADDANKI,Andhra Pradesh,South,103.0,58.0,14.0,74.0,0.0,249.0,0.0,249.0,22.0,29.0,0.0,51.0,20.48,<87.50%,Red DC,1,Manpower Gap
3462,2024-08-15,AAI,DC,ARARIA,Bihar,Central,232.0,138.0,24.0,0.0,0.0,394.0,23.0,371.0,214.0,21.0,29.0,264.0,71.16,<87.50%,Red DC,1,Operational Issues
3463,2024-08-15,AAK,DC,AKAALKOT,Maharashtra,West,396.0,147.0,19.0,0.0,0.0,562.0,20.0,542.0,376.0,164.0,18.0,558.0,102.95,>92.50%,Green DC,0,-
3464,2024-08-15,AAL,DC,ALLUR,Andhra Pradesh,South,454.0,167.0,41.0,1.0,0.0,663.0,26.0,637.0,431.0,175.0,40.0,646.0,101.41,>92.50%,Green DC,0,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55343,2024-08-29,ZAH,DC,ZAHEERABAD,Telangana,South,469.0,297.0,49.0,1.0,0.0,816.0,41.0,775.0,429.0,294.0,49.0,772.0,99.61,>92.50%,Green DC,0,-
55344,2024-08-29,ZAM,DC,ZAMANIA,Uttar Pradesh,Central,155.0,49.0,25.0,0.0,0.0,229.0,5.0,224.0,169.0,56.0,25.0,250.0,111.61,>92.50%,Green DC,0,-
55345,2024-08-29,ZIR,DC,ZIRAPUR,Madhya Pradesh,West,315.0,140.0,39.0,0.0,0.0,494.0,10.0,484.0,305.0,159.0,40.0,504.0,104.13,>92.50%,Green DC,0,-
55346,2024-08-29,ZRA,DC,ZIRA,Punjab,North,266.0,78.0,5.0,0.0,0.0,349.0,9.0,340.0,255.0,86.0,5.0,346.0,101.76,>92.50%,Green DC,0,-
55347,2024-08-29,ZRK,DC,ZIRAKPUR,Punjab,North,441.0,119.0,41.0,0.0,0.0,601.0,11.0,590.0,399.0,114.0,38.0,551.0,93.39,>92.50%,Green DC,0,-

In [117]:
pivot1.columns

Index(['DC', '2024-08-15', '2024-08-16', '2024-08-17', '2024-08-18',
       '2024-08-19', '2024-08-20', '2024-08-21', '2024-08-22', '2024-08-23',
       '2024-08-24', '2024-08-25', '2024-08-26', '2024-08-27', '2024-08-28',
       '2024-08-29', '3concat', '5concat', '7concat', '9concat', '11concat',
       '13concat', '15concat', '3 Days', '4-5 Days', '6-7 Days', '8-9 Days',
       '10-11 Days', '12-13 Days', '14-15 Days', '14-15d', '12-13d', '10-11d',
       '8-9d', '6-7d', '4-5d', '3d', 'D-1 Red', 'sum', 'City', 'State',
       'Region'],
      dtype='object')

In [118]:
pivot111=pivot1[(pivot1["D-1 Red"]=="1")|(pivot1["sum"]=="1")]
pivot125=pivot111[['DC','City','State','Region','3d','4-5d','6-7d','8-9d','10-11d','12-13d','14-15d']]
pivot125=pivot125.rename(columns={"3d":"3 Days","4-5d":"4-5 Days","6-7d":"6-7 Days","8-9d":"8-9 Days","10-11d":"10-11 Days","12-13d":"12-13 Days","14-15d":"14-15 Days"})

In [119]:
pivot125=pivot125.sort_values("14-15 Days",ascending=False)
pivot125["sum"]=pivot125['3 Days']+pivot125['4-5 Days']+pivot125['6-7 Days']+pivot125['6-7 Days']+pivot125['8-9 Days']+pivot125['10-11 Days']+pivot125['12-13 Days']+pivot125['14-15 Days']
pivot125=pivot125[pivot125['sum']>=1]
pivot125

,DC,City,State,Region,3 Days,4-5 Days,6-7 Days,8-9 Days,10-11 Days,12-13 Days,14-15 Days,sum
1,AAD,ADDANKI,Andhra Pradesh,South,0,0,0,0,0,0,1,1
2668,PNV,PUNE,Maharashtra,West,0,0,0,0,0,0,1,1
2665,PNS,PUNE,Maharashtra,West,0,0,0,0,0,0,1,1
2663,PNO,PUNE,Maharashtra,West,0,0,0,0,0,0,1,1
2660,PNK,PUNE,Maharashtra,West,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1454,KBL,KHAMBHALIA,Gujarat,West,0,1,0,0,0,0,0,1
1519,KHU,KHAIRAGARH UP,Uttar Pradesh,Central,1,0,0,0,0,0,0,1
1449,KAV,KALVAN,Maharashtra,West,0,0,0,1,0,0,0,1
1447,KAS,KASGANJ,Uttar Pradesh,Central,1,0,0,0,0,0,0,1
1404,JOG,JOGIPET,Telangana,South,0,1,0,0,0,0,0,1

In [120]:
pivot125.drop("sum",axis=1,inplace=True)

In [121]:
pivot125

,DC,City,State,Region,3 Days,4-5 Days,6-7 Days,8-9 Days,10-11 Days,12-13 Days,14-15 Days
1,AAD,ADDANKI,Andhra Pradesh,South,0,0,0,0,0,0,1
2668,PNV,PUNE,Maharashtra,West,0,0,0,0,0,0,1
2665,PNS,PUNE,Maharashtra,West,0,0,0,0,0,0,1
2663,PNO,PUNE,Maharashtra,West,0,0,0,0,0,0,1
2660,PNK,PUNE,Maharashtra,West,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
1454,KBL,KHAMBHALIA,Gujarat,West,0,1,0,0,0,0,0
1519,KHU,KHAIRAGARH UP,Uttar Pradesh,Central,1,0,0,0,0,0,0
1449,KAV,KALVAN,Maharashtra,West,0,0,0,1,0,0,0
1447,KAS,KASGANJ,Uttar Pradesh,Central,1,0,0,0,0,0,0
1404,JOG,JOGIPET,Telangana,South,0,1,0,0,0,0,0

In [122]:
final1.to_csv(f"DC Stress Classification_Apr{d}Format.csv",index=None)

In [123]:
filename_f=f"D:\One Drive BA\OneDrive - Ecom Express Limited\DC Stress\DATA\DC_stress_classificaton{dd}.xlsx"

In [124]:
dd

'29 Aug'

In [125]:
# import pandas as pd
# import xlwings as xw

# # Define your filename with .xlsb extension
# filename_f = 'your_filename.xlsb'

# # Create a new Excel file with xlwings
# with xw.Book() as book:
#     # Add DataFrames to the workbook
#     sheet1 = book.sheets.add(name='DC Data')
#     sheet1.range('A1').value = final1
    
#     sheet2 = book.sheets.add(name='Perennial DC')
#     sheet2.range('A1').value = pivot125

#     # Save the workbook
#     book.save(filename_f)

In [126]:
with pd.ExcelWriter(filename_f) as writer:
    final1.to_excel(writer, sheet_name = 'DC Data', startrow=0, startcol=0, index = False)
    pivot125.to_excel(writer, sheet_name = 'Perennial DC', startrow=0, startcol=0, index = False)

In [127]:
from win32com.client import Dispatch
outlook = Dispatch('outlook.application')
mail = outlook.CreateItem(0)
mail.Display()

mail.To = 'CAT_Team@ecomexpress.in;sandeeps@ecomexpress.in;ritika@ecomexpress.in;ganesh.t@ecomexpress.in;sanchari@ecomexpress.in;virender.k@ecomexpress.in;p.aman@ecomexpress.in;karthik2@ecomexpress.in;dverghese@ecomexpress.in;chandrakala@ecomexpress.in;nitin.k@ecomexpress.in;babitas@ecomexpress.in;supriya.s@ecomexpress.in;ashutosh@ecomexpress.in;LM_CT@ecomexpress.in;ct@ecomexpress.in;rm_ops@ecomexpress.in;sh@ecomexpress.in;RH@ecomexpress.in;roh@ecomexpress.in;hr-north@ecomexpress.in;rajeshg@ecomexpress.in;hr_central@ecomexpress.in;pooja.p@ecomexpress.in;MHAreaManagers@ecomexpresssp.onmicrosoft.com;areamgrwest@ecomexpress.in;CH_OPS@ecomexpress.in;TS_chops@ecomexpress.in;MUMCluster@ecomexpresssp.onmicrosoft.com;wromgmt@ecomexpress.in;rhr@ecomexpress.in;ankit.d@ecomexpress.in;k.mahesh@ecomexpress.in;kerala_hr@ecomexpress.in;sukhvinder.s@ecomexpress.in;SOUTH_CHOPS@ecomexpress.in;sudhir.s@ecomexpress.in;rohittalwar@ecomexpress.in;asinghal@ecomexpress.in;amitkavia@ecomexpress.in;Jacobj@ecomexpress.in;ajay.chitkara@ecomexpress.in;gagankanojia@ecomexpress.in;south_am@ecomexpress.in;south_sh@ecomexpress.in;south_fh@ecomexpress.in;lokesh.h@ecomexpress.in;s.venkatesh@ecomexpress.in;nilesh.k@ecomexpress.in;hr-east@ecomexpress.in;hr_sh@ecomexpress.in;hr_west@ecomexpress.in;south_hr@ecomexpress.in;planning@ecomexpress.in;rajat@ecomexpress.in;arpit.m@ecomexpress.in;nutan.v@ecomexpress.in;sanjay.m@ecomexpress.in;bhavna@ecomexpress.in;kdinesh@ecomexpress.in;avinav.pandey@ecomexpress.in;akshaythapan@ecomexpress.in;ankur.m@ecomexpress.in;ashwany@ecomexpress.in;mohit45685@ecomexpress.in;p.aman@ecomexpress.in;ritika@ecomexpress.in;vinay.k@ecomexpress.in;mirza.m@ecomexpress.in;manoj.jha@ecomexpress.in;rahul.j@ecomexpress.in;austin.kt@ecomexpress.in;asim.a@ecomexpress.in;b.gaurav@ecomexpress.in;ramend@ecomexpress.in;sapna@ecomexpress.in;hardeep.s@ecomexpress.in;divyanshu.a@ecomexpress.in;raghav@ecomexpress.in;rashmi.rk@ecomexpress.in;resma.p@ecomexpress.in;akshit.m@ecomexpress.in;biswaprakash@ecomexpress.in;nikita.s@ecomexpress.in;saritha@ecomexpress.in;supriya.s@ecomexpress.in;keywest@ecomexpress.in;jatin01@ecomexpress.in;gowriamarnath@ecomexpress.in;keysouth@ecomexpress.in;blrrocs@ecomexpress.in;KA_CHOPS@ecomexpress.in;KA_HRTeam@ecomexpresssp.onmicrosoft.com;kushagra@ecomexpress.in;shivanipandey@ecomexpress.in;keynorth@ecomexpress.in;East_ch@ecomexpress.in;anchal.t@ecomexpress.in;akash.c@ecomexpress.in;virender.k@ecomexpress.in;karthik2@ecomexpress.in;rajenderk@ecomexpress.in;south_hr@ecomexpress.in;EcomServiceExcellence_PANIndia@ecomexpresssp.onmicrosoft.com;hr_central@ecomexpress.in;vinay.th@ecomexpress.in;p.aman@ecomexpress.in;ihqlt@ecomexpress.in;amit.pratap@ecomexpress.in'
#mail.To = mailing_list_to
#mail.CC = 'vishwachetan@ecomexpress.in;b.krishnananda@ecomexpress.in;sonampaliwal@ecomexpress.in;rahul.tandon@ecomexpress.in;dipanjanb@ecomexpress.in;tarun.a@ecomexpress.in;anik.b@ecomexpress.in;tejas.v@ecomexpress.in;sanwali.sood@ecomexpress.in;harsh@ecomexpress.in'
#mail.BCC = mailing_list_bcc
mail.CC = 'ajay.chitkara@ecomexpress.in;manjud@ecomexpress.in;satyak@ecomexpress.in;vishwachetan@ecomexpress.in;b.krishnananda@ecomexpress.in;sonampaliwal@ecomexpress.in;rahul.tandon@ecomexpress.in;dipanjanb@ecomexpress.in;tarun.a@ecomexpress.in;akshaythapan@ecomexpress.in;kushagra.g@ecomexpress.in;anik.b@ecomexpress.in;tejas.v@ecomexpress.in;sanwali.sood@ecomexpress.in;harsh@ecomexpress.in;jiten@ecomexpress.in'

mail.Subject = f'DC Stress Category : {dd}'

In [128]:
#m=pd.read_excel('D:\\One Drive BA\\OneDrive - Ecom Express Limited\\DC_Stress_RawData\\DC_stress_classificaton28 Jul.xlsx')
#m.to_excel("D:\One Drive BA\OneDrive - Ecom Express Limited\DC Stress\DATA\Attachment.xlsx")

In [129]:
html_template = """\
<!-- using this quotes for multi line commenting inbetween html -->

<!-- 
<tr> table row
<td> table data
<p> paragraph
<br> new line
-->


<html>


    <body>
        <div>  <!-- this is the very First divison created -->

            <p style = "font-family:calibri; 
                        ">
              <b>Hi All, <br>
              <b>Please find the link for Attached file:<br>
              <a href="https://ecomexpresssp-my.sharepoint.com/:f:/g/personal/bamis_ecomexpress_in/EvMzyo-xDR9Hv-QwvAMu0RAByMAB_OQ6e8fKj39gzOX4Ng?e=fDhLOc">Report_Link</a>
              <b>Here is the DC Stress classification for {} .<br>
              <b>{}
              

            </p> <!-- this is used for paragraph -->
        
         </div>
         
         <div>  <!-- this is the very First divison created -->

            <p style = "font-family:calibri; 
                        ">
              <br><br>
              <b>DCs that are perennially appearing in the Red Category <br>
              <br>
              <b>Here we have provided 2 classifications: .<br>
              <br>
              <span style="font-weight: normal;">1. Red DCs of {} which are in Red for >=3 Consecutive Days<br>
              <span style="font-weight: normal;">2.DCs that are recurringly appearing in Red >=3 times in the Last 15 Days
              <br>
              <b>{}
              <br>{}

            </p> <!-- this is used for paragraph -->
        
         </div>
         
         <div>  <!-- this is the very First divison created -->

            <p style = "font-family:calibri; 
                        ">
              <br><br>
              <span style="font-weight: normal;">Region and State wise DC Stress <br>              
              
              <br>
              <b>{}
              <br>{}

            </p> <!-- this is used for paragraph -->
        
         </div>
         
         <div>  <!-- this is the very First divison created -->

            <p style = "font-family:calibri; 
                        ">
              
              <br><br>
              <span style="font-weight: normal;">The reason for the Red DCs are classified under the below 3 buckets. <br>              
              
              <br>
              <b>{}

            </p> <!-- this is used for paragraph -->
         

        <div>  <!-- this is the very Fifth divison created -->

            <p style = "font-family:calibri;">
              Thanks & Regards, <br>
              Team-CAT<br><br>
              

            </p> <!-- this is used for paragraph -->

        </div>



        



    </body>
</html>


""".format(dd,cat2.to_html(),dd,pivot2.to_html(),pivot3.to_html(),reg2.to_html(),state2.to_html(),buk2.to_html())
                   

mail.HTMLBody = html_template
mail.Display()

In [128]:
#mail.send