In [1]:
import pandas as pd
import numpy as np
import datetime
import os
import smtplib
from email.message import EmailMessage
from email.mime.text import MIMEText
from email.mime.application import MIMEApplication
from email.mime.multipart import MIMEMultipart
from email.mime.base import MIMEBase

In [2]:
os.chdir(r"D:\PPC_Comp")

In [3]:
today2=datetime.datetime.today().strftime("%Y-%m-%d")
def Dater3(d):
    d1=datetime.datetime.today().strptime(today2,"%Y-%m-%d")
    d1=d1-datetime.timedelta(days=d)
    d1=d1+datetime.timedelta(days=1)
    d1=d1.strftime("%Y-%m-%d")
    return d1

In [4]:
g=3

In [5]:
n=Dater3(g)                                                                              #change on monday for D-3
#n="2024-05-14"

In [6]:
n

'2024-08-28'

In [7]:
df=pd.read_csv(f"ppc_data_{n}.csv")

In [8]:
len(df)

2268693

In [9]:
df

,airwaybill_number,Product_Type,Origin_Sc,First_Bagging_Sc,PPC,City,State,Region,Misroute_Check,P_1,P_2,PPC_Inscan,Bagging,DC,RTO_date,PPC_Fact,Instruction,Remarks,Current_Sc
0,10400351054,FWD,BHR,BWP,HYP,HYDERABAD,Telangana,South,NaN,NaN,2024-08-28 00:00:19,2024-08-28 00:00:19,NaN,BNW,2024-08-28 17:40:53,NaN,NaN,NaN,BNW
1,10415414736,FWD,BDP,BDP,S2P,SURAT,Gujarat,West,NaN,NaN,2024-08-28 00:00:15,2024-08-28 00:00:15,2024-08-28 03:26:24,ASD,NaN,NaN,NaN,NaN,STH
2,80078291799,RTS,DBI,DBI,S2P,SURAT,Gujarat,West,NaN,NaN,2024-08-27 05:22:10,2024-08-27 05:22:10,2024-08-28 03:25:23,EDR,NaN,NaN,NaN,NaN,BH4
3,10400343558,FWD,BHR,BWP,B5P,HYDERABAD,Telangana,South,NaN,NaN,2024-08-28 00:00:33,2024-08-28 00:00:33,2024-08-28 00:17:12,YLD,NaN,NaN,NaN,NaN,YLD
4,410012449963,FWD,BEP,HNP,BWP,BHIWANDI,Maharashtra,West,NaN,NaN,2024-08-28 00:00:34,2024-08-28 00:00:34,2024-08-28 02:13:37,THN,NaN,NaN,NaN,NaN,THN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2268688,10409445753,FWD,DNR,DNR,DYP,DELHI,Delhi,North,NaN,NaN,2024-08-28 20:56:08,2024-08-28 20:56:08,2024-08-28 22:37:56,NBS,NaN,NaN,NaN,NaN,DEH
2268689,10386671665,FWD,DNR,DNR,DYP,DELHI,Delhi,North,NaN,NaN,2024-08-28 17:46:00,2024-08-28 17:46:00,2024-08-28 22:31:47,GSA,NaN,39.0,NaN,NaN,DEH
2268690,80078925315,RTS,LAU,LAU,LKP,LUCKNOW,Uttar Pradesh,Central,NaN,NaN,2024-08-28 20:35:20,2024-08-28 20:35:20,2024-08-28 20:35:37,NDR,NaN,NaN,NaN,NaN,BH4
2268691,10397596584,FWD,DCR,DCR,BFP,Ballabhgarh,Haryana,North,NaN,NaN,2024-08-28 20:20:08,2024-08-28 20:20:08,2024-08-28 20:20:18,MJU,NaN,NaN,NaN,NaN,BH4
2268692,10415357795,FWD,LDR,LDR,LUP,LUDHIANA,Punjab,North,NaN,NaN,2024-08-28 20:04:24,2024-08-28 20:04:24,2024-08-28 20:04:34,VJF,NaN,NaN,NaN,NaN,JJH

In [10]:
df['Date']=pd.to_datetime(df['PPC_Inscan']).dt.date

In [11]:
df['Date']=df['Date'].astype(str)

In [12]:
df["Date"].value_counts()

Date
2024-08-28    2131817
2024-08-27     122344
2024-08-29       6968
2024-08-26       1754
2024-08-24        915
               ...
2024-02-25          1
2024-06-26          1
2024-06-30          1
2024-06-19          1
2024-05-21          1
Name: count, Length: 76, dtype: int64

In [13]:
df=df.loc[(df['Date']==n)]

In [14]:
os.chdir(r"D:\OneDrive - Ecom Express Limited\imp_route")

In [15]:
df1=pd.read_csv("ppc_hub_map.csv")

In [16]:
df4=pd.read_csv("route_2.csv")

In [17]:
df.drop_duplicates(["airwaybill_number","PPC"],inplace = True)

C:\Users\124436\AppData\Local\Temp\ipykernel_21920\1385720212.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(["airwaybill_number","PPC"],inplace = True)

In [18]:
len(df)

2131817

In [19]:
df["First_Bagging_Sc"]=df["First_Bagging_Sc"].fillna('NULL')

C:\Users\124436\AppData\Local\Temp\ipykernel_21920\3635543580.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["First_Bagging_Sc"]=df["First_Bagging_Sc"].fillna('NULL')

In [20]:
df["shipment_type"]=np.where((df["First_Bagging_Sc"]=="NULL"),"Fresh",
                            np.where((df["First_Bagging_Sc"])==(df["PPC"]),"Fresh","Mix"))

C:\Users\124436\AppData\Local\Temp\ipykernel_21920\3428079507.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["shipment_type"]=np.where((df["First_Bagging_Sc"]=="NULL"),"Fresh",

In [21]:
df2=pd.merge(df,df1[["PPC","H2"]],on="PPC",how="left")

In [22]:
df2['H2']=df2['H2'].fillna('NULL')

In [23]:
pd.set_option('display.max_columns' ,None)

In [24]:
df3=pd.merge(df2,df1[["PPC","H2"]],left_on="DC",right_on="PPC",how="left")

In [25]:
df3['H2_y']=df3['H2_y'].fillna('NULL')

In [26]:
df3.drop(["PPC_y"],inplace = True,axis=1)

In [27]:
df3.rename(columns = {'H2_x':'H1','H2_y':'H2','PPC_x':'PPC'}, inplace = True)

In [28]:
df3["lane"]=np.where((df3["H1"])==(df3["H2"]),(df3["H1"])+"-"+(df3["DC"]),(df3["H1"])+"-"+(df3["H2"]))

In [29]:
df3["ready_time"]=pd.to_datetime(df3["PPC_Inscan"].astype(str))+datetime.timedelta(hours=4)

In [30]:
len(df3)

2131817

In [31]:
df3["Check1"]=np.where((df3["H1"]==df3["H2"]),1,0)

In [32]:
len(df3)

2131817

In [33]:
df3.sort_values("Check1",ascending=False,inplace=True)

In [34]:
df3.drop_duplicates(["airwaybill_number","PPC"],inplace = True,keep='first')

In [35]:
len(df3)

2131817

In [36]:
df3=pd.merge(df3,df4,on='lane',how='left')

In [37]:
len(df3)

3100273

In [38]:
df3['ready_time1']=pd.to_datetime(df3['ready_time']).dt.time

In [39]:
len(df3)

3100273

In [40]:
df3['check2']=np.where(((pd.to_datetime(df3["std_hrs"]).dt.time)>=df3["ready_time1"]),0,1)

C:\Users\124436\AppData\Local\Temp\ipykernel_21920\1267401597.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df3['check2']=np.where(((pd.to_datetime(df3["std_hrs"]).dt.time)>=df3["ready_time1"]),0,1)

In [41]:
len(df3)

3100273

In [42]:
df3['date']=pd.to_datetime(df3['ready_time']).dt.date

In [43]:
len(df3)

3100273

In [44]:
df3['STD']=pd.to_datetime(df3['date'])+pd.to_timedelta(df3['check2'].astype('timedelta64[D]'))+pd.to_timedelta(df3['std_hrs'])

In [45]:
df3.sort_values('STD',inplace=True)

In [46]:
df3.drop_duplicates(["airwaybill_number","PPC"],inplace = True,keep='first')

In [47]:
len(df3)

2131817

In [48]:
pd.set_option('display.max_columns' ,None)

In [49]:
df3.head(2)

,airwaybill_number,Product_Type,Origin_Sc,First_Bagging_Sc,PPC,City,State,Region,Misroute_Check,P_1,P_2,PPC_Inscan,Bagging,DC,RTO_date,PPC_Fact,Instruction,Remarks,Current_Sc,Date,shipment_type,H1,H2,lane,ready_time,Check1,lh_route,std_hrs,ready_time1,check2,date,STD
400829,410012564620,FWD,BML,HNP,JJP,JAIPUR,Rajasthan,North,2024-08-16 11:07:39,2024-08-28 00:09:35,2024-08-15 06:52:46,2024-08-28 00:09:35,2024-08-15 08:39:36,MJAF,2024-08-23 11:03:16,NaN,NaN,NaN,JJP,2024-08-28,Mix,JJH,JJH,JJH-MJAF,2024-08-28 04:09:35,1,JJH-JAF-MJAF-MJAE-JJH,04:10:00,04:09:35,0,2024-08-28,2024-08-28 04:10:00
25302,2991838086,FWD,ALO,ALO,JJP,JAIPUR,Rajasthan,North,2024-08-15 11:40:02,2024-08-28 00:07:52,2024-08-14 20:25:27,2024-08-28 00:07:52,2024-08-14 23:37:00,MJAF,2024-08-27 08:11:51,NaN,NaN,NaN,JJP,2024-08-28,Mix,JJH,JJH,JJH-MJAF,2024-08-28 04:07:52,1,JJH-JAF-MJAF-MJAE-JJH,04:10:00,04:07:52,0,2024-08-28,2024-08-28 04:10:00

In [50]:
df3["STD"]=pd.to_datetime(df3["STD"])

In [51]:
len(df3)

2131817

In [52]:

df3["STD"]=df3["STD"].fillna(0)

In [53]:

df3.loc[(df3["STD"]==0),"STD"]=pd.to_datetime(df3["PPC_Inscan"])+datetime.timedelta(hours=30)

In [54]:
len(df3)

2131817

In [55]:
df3["Bagging"].value_counts()

Bagging
2024-08-28 23:51:41    365
2024-08-28 20:33:49    313
2024-08-28 22:57:41    300
2024-08-28 11:21:51    293
2024-08-28 19:25:46    282
                      ...
2024-08-17 15:43:38      1
2024-08-29 00:54:41      1
2024-08-03 18:23:21      1
2024-08-27 19:35:46      1
2024-08-29 06:32:32      1
Name: count, Length: 75877, dtype: int64

In [56]:
df3['STD']

400829     2024-08-28 04:10:00
25302      2024-08-28 04:10:00
346390     2024-08-28 04:10:00
327449     2024-08-28 04:10:00
256866     2024-08-28 04:15:00
                  ...
3100190    2024-08-30 04:54:10
3100210    2024-08-30 03:28:36
3100236    2024-08-30 04:29:34
3100247    2024-08-30 04:27:18
3100262    2024-08-30 04:25:17
Name: STD, Length: 2131817, dtype: object

In [57]:
df3["success_check"]=np.where(((pd.to_datetime(df3["STD"])-(datetime.timedelta(minutes=75)))>=(pd.to_datetime(df3["Bagging"]))),1,0)

In [58]:
len(df3)

2131817

In [59]:
df3["Bagging"]=df3["Bagging"].fillna("NULL")

In [60]:
df3["check3"]=np.where(((df3["Bagging"]=="NULL")&(df3["PPC"]!=df3["Current_Sc"])),1,0)

In [61]:
df3.head()

,airwaybill_number,Product_Type,Origin_Sc,First_Bagging_Sc,PPC,City,State,Region,Misroute_Check,P_1,P_2,PPC_Inscan,Bagging,DC,RTO_date,PPC_Fact,Instruction,Remarks,Current_Sc,Date,shipment_type,H1,H2,lane,ready_time,Check1,lh_route,std_hrs,ready_time1,check2,date,STD,success_check,check3
400829,410012564620,FWD,BML,HNP,JJP,JAIPUR,Rajasthan,North,2024-08-16 11:07:39,2024-08-28 00:09:35,2024-08-15 06:52:46,2024-08-28 00:09:35,2024-08-15 08:39:36,MJAF,2024-08-23 11:03:16,NaN,NaN,NaN,JJP,2024-08-28,Mix,JJH,JJH,JJH-MJAF,2024-08-28 04:09:35,1,JJH-JAF-MJAF-MJAE-JJH,04:10:00,04:09:35,0,2024-08-28,2024-08-28 04:10:00,1,0
25302,2991838086,FWD,ALO,ALO,JJP,JAIPUR,Rajasthan,North,2024-08-15 11:40:02,2024-08-28 00:07:52,2024-08-14 20:25:27,2024-08-28 00:07:52,2024-08-14 23:37:00,MJAF,2024-08-27 08:11:51,NaN,NaN,NaN,JJP,2024-08-28,Mix,JJH,JJH,JJH-MJAF,2024-08-28 04:07:52,1,JJH-JAF-MJAF-MJAE-JJH,04:10:00,04:07:52,0,2024-08-28,2024-08-28 04:10:00,1,0
346390,3327176756,FWD,WLR,CTP,JJP,JAIPUR,Rajasthan,North,2024-08-15 11:40:02,2024-08-28 00:07:33,2024-08-14 08:08:52,2024-08-28 00:07:33,2024-08-14 10:06:33,MJAF,2024-08-24 10:46:04,NaN,NaN,NaN,JJP,2024-08-28,Mix,JJH,JJH,JJH-MJAF,2024-08-28 04:07:33,1,JJH-JAF-MJAF-MJAE-JJH,04:10:00,04:07:33,0,2024-08-28,2024-08-28 04:10:00,1,0
327449,10389885721,FWD,IOP,FNP,JJP,JAIPUR,Rajasthan,North,2024-08-15 11:40:01,2024-08-28 00:07:03,2024-08-27 23:16:41,2024-08-28 00:07:03,NULL,MJAF,2024-08-27 00:18:06,NaN,NaN,NaN,JJP,2024-08-28,Mix,JJH,JJH,JJH-MJAF,2024-08-28 04:07:03,1,JJH-JAF-MJAF-MJAE-JJH,04:10:00,04:07:03,0,2024-08-28,2024-08-28 04:10:00,0,0
256866,80076595733,RTS,MUBC,MUBC,BP4,GURUGRAM,Haryana,North,2024-08-25 12:39:29,2024-08-28 00:14:32,2024-08-27 23:01:41,2024-08-28 00:14:32,2024-08-28 00:14:32,DUL,NaN,NaN,NaN,NaN,DUL,2024-08-28,Mix,BH4,BH4,BH4-DUL,2024-08-28 04:14:32,1,BH4-HPU-PKA-DUL-BH4,04:15:00,04:14:32,0,2024-08-28,2024-08-28 04:15:00,1,0

In [62]:
len(df3)

2131817

In [63]:
df3=df3.loc[(df3["check3"])==0]

In [64]:
len(df3)

2050211

In [65]:
df3=df3.fillna("NULL")

C:\Users\124436\AppData\Local\Temp\ipykernel_21920\2632731494.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df3=df3.fillna("NULL")

In [66]:
df3["RTO_check"]=np.where((df3["success_check"]==0)&(df3["RTO_date"]!="NULL"),1,0)

In [67]:
df3=df3.loc[(df3["RTO_check"])==0]

In [68]:
df3["PPC_Fact_check"]=np.where((df3["success_check"]==0)&(df3["PPC_Fact"]!="NULL"),1,0)

In [69]:
df3=df3.loc[(df3["PPC_Fact_check"])==0]

In [70]:
df3["Instruction_check"]=np.where((df3["success_check"]==0)&(df3["Instruction"]!="NULL"),1,0)

In [71]:
df3=df3.loc[(df3["Instruction_check"])==0]

In [72]:
len(df3)

2043443

In [73]:
df3=df3.loc[df3["PPC"]!="RPP"]

# fail data

In [74]:
fail_data=df3.loc[(df3['success_check']==0)]

In [75]:
len(fail_data)

6866

# Pivots

In [76]:
p1=df3.pivot_table(index="PPC",columns="Product_Type",values='success_check',aggfunc=['count','sum'],margins=True,margins_name='Total Volume').fillna(0).astype(int)

In [77]:
p1=p1.reset_index()

In [78]:
p1.columns

MultiIndex([(  'PPC',             ''),
            ('count',          'FWD'),
            ('count',          'RTS'),
            ('count',          'RVP'),
            ('count', 'Total Volume'),
            (  'sum',          'FWD'),
            (  'sum',          'RTS'),
            (  'sum',          'RVP'),
            (  'sum', 'Total Volume')],
           names=[None, 'Product_Type'])

In [79]:
p1

                       PPC    count                                  sum  \
Product_Type                    FWD     RTS    RVP Total Volume      FWD
0                      AAP        0       2      0            2        0
1                      AGP     4038      59     25         4122     4033
2                      ALP      337      85     36          458      337
3                      APP    18876    5627   1092        25595    18791
4                      AUP     2841    4394   1081         8316     2836
..                     ...      ...     ...    ...          ...      ...
68                     SXP      933      10     54          997      933
69                     SZP    12978     203     38        13219    12978
70                     VJP     8484    3979   1081        13544     8431
71                     ZRP     2531     198     70         2799     2531
72            Total Volume  1590704  361844  90354      2042902  1585377


Product_Type     RTS    RVP Total Volume
0                  2      0            2
1                 59     25         4117
2                 85     36          458
3               5520   1089        25400
4               4391   1081         8308
..               ...    ...          ...
68                10     54          997
69               203     38        13219
70              3948   1074        13453
71               198     70         2799
72            360552  90107      2036036

[73 rows x 9 columns]

In [80]:
p1["","Overall_Comp"]=round(p1[('sum', 'Total Volume')]/p1[('count', 'Total Volume')]*100,2)
p1["","FWD_Comp"]=round(p1[('sum',          'FWD')]/p1[('count',          'FWD')]*100,2)
p1["","RTS_Comp"]=round(p1[('sum',          'RTS')]/p1[('count',          'RTS')]*100,2)
p1["","RVP_Comp"]=round(p1[('sum',          'RVP')]/p1[('count',          'RVP')]*100,2)

In [81]:
p1=p1.fillna(0)

In [82]:
p2=df3.pivot_table(index="PPC",columns=["Product_Type","shipment_type"],values='success_check',aggfunc=['count','sum'],margins=True,margins_name='Total Volume').fillna(0).astype(int)

In [83]:
p2=p2.reset_index()

In [84]:
p2["","","FWD_Fresh_Comp"]=round(p2[( 'sum',          'FWD', 'Fresh')]/p2[('count',          'FWD', 'Fresh')]*100,2)
p2["","","FWD_Mix_Comp"]=round(p2[(  'sum',          'FWD', 'Mix')]/p2[('count',          'FWD', 'Mix')]*100,2)
p2["","","RTS_Fresh_Comp"]=round(p2[(  'sum',          'RTS', 'Fresh')]/p2[('count',          'RTS', 'Fresh')]*100,2)
p2["","","RTS_Mix_Comp"]=round(p2[(  'sum',          'RTS', 'Mix')]/p2[('count',          'RTS', 'Mix')]*100,2)
p2["","","RVP_Mix_Comp"]=round(p2[(  'sum',          'RVP', 'Mix')]/p2[('count',          'RVP', 'Mix')]*100,2)

In [85]:
p2=p2.fillna(0)

In [86]:
p1.columns = ['_'.join(col) for col in p1.columns.values]

In [87]:
p1.rename(columns = {'PPC_':'PPC'},inplace = True)
p1.rename(columns = {'count_FWD':'FWD_Volume'},inplace = True)
p1.rename(columns = {'count_RTS':'RTS_Volume'},inplace = True)  
p1.rename(columns = {'count_RVP':'RVP_Volume'},inplace = True)
p1.rename(columns = {'count_Total Volume':'Overall_Volume'},inplace = True)
p1.rename(columns = {'_Overall_Comp':'Overall_Compliance'},inplace = True)
p1.rename(columns = {'_FWD_Comp':'FWD_Compliance'},inplace = True)
p1.rename(columns = {'_RTS_Comp':'RTS_Compliance'},inplace = True)
p1.rename(columns = {'_RVP_Comp':'RVP_Compliance'},inplace = True)

In [88]:
p1=p1[['PPC','Overall_Volume','Overall_Compliance','FWD_Volume','FWD_Compliance','RTS_Volume','RTS_Compliance','RVP_Volume','RVP_Compliance']]

In [89]:
p1=p1.sort_values("Overall_Volume",ascending=False)

In [90]:
p2.columns = ['_'.join(col) for col in p2.columns.values]

In [91]:
p2.rename(columns = {'PPC_':'PPC'},inplace = True)
p2.rename(columns = {'count_FWD_Fresh':'FWD_Fresh_Volume'},inplace = True)
p2.rename(columns = {'count_FWD_Mix':'FWD_Mix_Volume'},inplace = True)  
p2.rename(columns = {'count_RTS_Fresh':'RTS_Fresh_Volume'},inplace = True)
p2.rename(columns = {'count_RTS_Mix':'RTS_Mix_Volume'},inplace = True)
p2.rename(columns = {'count_RVP_Mix':'RVP_Mix_Volume'},inplace = True)
p2.rename(columns = {'__FWD_Mix_Comp':'FWD_Mix_Compliance'},inplace = True)
p2.rename(columns = {'__FWD_Fresh_Comp':'FWD_Fresh_Compliance'},inplace = True)  
p2.rename(columns = {'__RTS_Fresh_Comp':'RTS_Fresh_Compliance'},inplace = True)
p2.rename(columns = {'__RTS_Mix_Comp':'RTS_Mix_Compliance'},inplace = True)
p2.rename(columns = {'__RVP_Mix_Comp':'RVP_Mix_Compliance'},inplace = True)

In [92]:
p2=p2[['PPC__','FWD_Fresh_Volume','FWD_Fresh_Compliance','FWD_Mix_Volume','FWD_Mix_Compliance','RTS_Fresh_Volume','RTS_Fresh_Compliance','RTS_Mix_Volume','RTS_Mix_Compliance','RVP_Mix_Volume','RVP_Mix_Compliance']]

### JAIPUR TEST

In [93]:
p3=df3.pivot_table(index=['PPC','City','State','Region'],columns="shipment_type",values='success_check',aggfunc=['count','sum'],margins=True,margins_name='Total Volume').fillna(0).astype(int)

In [94]:
p3.columns = ['_'.join(col) for col in p3.columns.values]

In [95]:
p3.reset_index(inplace=True)

In [96]:
p3["Fresh_Compliance"]=round(p3[('sum_Fresh')]/p3[('count_Fresh')]*100,2)
p3["Mix_Compliance"]=round(p3[('sum_Mix')]/p3[('count_Mix')]*100,2)
p3["Overall_Compliance"]=round(p3[('sum_Total Volume')]/p3[('count_Total Volume')]*100,2)

In [97]:
p3=p3.fillna(0)

In [98]:
p3.rename(columns = {'count_Fresh':'Fresh_Volume'},inplace = True)
p3.rename(columns = {'count_Mix':'Mix_Volume'},inplace = True)
p3.rename(columns = {'count_Total Volume':'Overall_Volume'},inplace = True)

In [99]:
p3=p3[['PPC', 'City', 'State', 'Region','Overall_Volume','Overall_Compliance','Fresh_Volume','Fresh_Compliance','Mix_Volume','Mix_Compliance']]

In [100]:
p3.sort_values('Overall_Volume',ascending=False,inplace=True)

In [101]:
p4=p3.copy()

In [102]:
p4["Date"]=n

In [103]:
p4=p4[["Date","PPC","Fresh_Volume","Fresh_Compliance","Mix_Volume","Mix_Compliance"]]
p4

,Date,PPC,Fresh_Volume,Fresh_Compliance,Mix_Volume,Mix_Compliance
72,2024-08-28,Total Volume,754465,99.62,1288437,99.69
28,2024-08-28,FNP,141740,99.98,66093,99.85
60,2024-08-28,S2P,133406,99.98,53402,99.69
40,2024-08-28,JJP,31436,99.84,126790,99.59
32,2024-08-28,HNP,53251,99.88,93227,99.57
...,...,...,...,...,...,...
37,2024-08-28,IRP,34,100.00,0,0.00
15,2024-08-28,BPP,0,0.00,28,100.00
5,2024-08-28,B0P,0,0.00,27,100.00
51,2024-08-28,MLP,0,0.00,10,100.00
0,2024-08-28,AAP,1,100.00,1,100.00

In [104]:
p5=pd.read_excel(r"D:\OneDrive - Ecom Express Limited\PPC_Comp_Shashi\PPC_Comp.xlsx")
p5

,Date,PPC,Fresh_Volume,Fresh_Compliance,Mix_Volume,Mix_Compliance
0,2024-07-01,FNP,146189,99.90,53122,99.78
1,2024-07-01,S2P,123960,99.71,48535,99.73
2,2024-07-01,JJP,45805,99.95,110884,99.08
3,2024-07-01,HNP,55708,99.48,91758,98.48
4,2024-07-01,BP4,70,100.00,120222,99.10
...,...,...,...,...,...,...
4135,2024-08-27,JGP,1,100.00,42,100.00
4136,2024-08-27,MLP,0,0.00,39,100.00
4137,2024-08-27,BPP,0,0.00,33,100.00
4138,2024-08-27,AAP,1,100.00,4,100.00
4139,2024-08-27,IPP,0,0.00,2,100.00

In [105]:
try:
    for i in p5["Date"]:
        if i==n:
            print("True")
            break
        else:
            p6=pd.concat([p5,p4],ignore_index=True)
except Exception as e:
    print(e)

In [106]:
p6

,Date,PPC,Fresh_Volume,Fresh_Compliance,Mix_Volume,Mix_Compliance
0,2024-07-01,FNP,146189,99.90,53122,99.78
1,2024-07-01,S2P,123960,99.71,48535,99.73
2,2024-07-01,JJP,45805,99.95,110884,99.08
3,2024-07-01,HNP,55708,99.48,91758,98.48
4,2024-07-01,BP4,70,100.00,120222,99.10
...,...,...,...,...,...,...
4208,2024-08-28,IRP,34,100.00,0,0.00
4209,2024-08-28,BPP,0,0.00,28,100.00
4210,2024-08-28,B0P,0,0.00,27,100.00
4211,2024-08-28,MLP,0,0.00,10,100.00
4212,2024-08-28,AAP,1,100.00,1,100.00

In [107]:
p6=p6[~(p6["PPC"]=="Total Volume")]
p6

,Date,PPC,Fresh_Volume,Fresh_Compliance,Mix_Volume,Mix_Compliance
0,2024-07-01,FNP,146189,99.90,53122,99.78
1,2024-07-01,S2P,123960,99.71,48535,99.73
2,2024-07-01,JJP,45805,99.95,110884,99.08
3,2024-07-01,HNP,55708,99.48,91758,98.48
4,2024-07-01,BP4,70,100.00,120222,99.10
...,...,...,...,...,...,...
4208,2024-08-28,IRP,34,100.00,0,0.00
4209,2024-08-28,BPP,0,0.00,28,100.00
4210,2024-08-28,B0P,0,0.00,27,100.00
4211,2024-08-28,MLP,0,0.00,10,100.00
4212,2024-08-28,AAP,1,100.00,1,100.00

### New Test

In [108]:
df10=df3.copy()
df10

,airwaybill_number,Product_Type,Origin_Sc,First_Bagging_Sc,PPC,City,State,Region,Misroute_Check,P_1,P_2,PPC_Inscan,Bagging,DC,RTO_date,PPC_Fact,Instruction,Remarks,Current_Sc,Date,shipment_type,H1,H2,lane,ready_time,Check1,lh_route,std_hrs,ready_time1,check2,date,STD,success_check,check3,RTO_check,PPC_Fact_check,Instruction_check
400829,410012564620,FWD,BML,HNP,JJP,JAIPUR,Rajasthan,North,2024-08-16 11:07:39,2024-08-28 00:09:35,2024-08-15 06:52:46,2024-08-28 00:09:35,2024-08-15 08:39:36,MJAF,2024-08-23 11:03:16,NULL,NULL,NULL,JJP,2024-08-28,Mix,JJH,JJH,JJH-MJAF,2024-08-28 04:09:35,1,JJH-JAF-MJAF-MJAE-JJH,04:10:00,04:09:35,0,2024-08-28,2024-08-28 04:10:00,1,0,0,0,0
25302,2991838086,FWD,ALO,ALO,JJP,JAIPUR,Rajasthan,North,2024-08-15 11:40:02,2024-08-28 00:07:52,2024-08-14 20:25:27,2024-08-28 00:07:52,2024-08-14 23:37:00,MJAF,2024-08-27 08:11:51,NULL,NULL,NULL,JJP,2024-08-28,Mix,JJH,JJH,JJH-MJAF,2024-08-28 04:07:52,1,JJH-JAF-MJAF-MJAE-JJH,04:10:00,04:07:52,0,2024-08-28,2024-08-28 04:10:00,1,0,0,0,0
346390,3327176756,FWD,WLR,CTP,JJP,JAIPUR,Rajasthan,North,2024-08-15 11:40:02,2024-08-28 00:07:33,2024-08-14 08:08:52,2024-08-28 00:07:33,2024-08-14 10:06:33,MJAF,2024-08-24 10:46:04,NULL,NULL,NULL,JJP,2024-08-28,Mix,JJH,JJH,JJH-MJAF,2024-08-28 04:07:33,1,JJH-JAF-MJAF-MJAE-JJH,04:10:00,04:07:33,0,2024-08-28,2024-08-28 04:10:00,1,0,0,0,0
256866,80076595733,RTS,MUBC,MUBC,BP4,GURUGRAM,Haryana,North,2024-08-25 12:39:29,2024-08-28 00:14:32,2024-08-27 23:01:41,2024-08-28 00:14:32,2024-08-28 00:14:32,DUL,NULL,NULL,NULL,NULL,DUL,2024-08-28,Mix,BH4,BH4,BH4-DUL,2024-08-28 04:14:32,1,BH4-HPU-PKA-DUL-BH4,04:15:00,04:14:32,0,2024-08-28,2024-08-28 04:15:00,1,0,0,0,0
229894,5909742927,RVP,BSS,BSS,BP4,GURUGRAM,Haryana,North,NULL,NULL,2024-08-28 00:14:38,2024-08-28 00:14:38,2024-08-28 01:26:52,PKA,NULL,NULL,NULL,NULL,PKA,2024-08-28,Mix,BH4,BH4,BH4-PKA,2024-08-28 04:14:38,1,BH4-HPU-PKA-DUL-BH4,04:15:00,04:14:38,0,2024-08-28,2024-08-28 04:15:00,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3100190,3336223635,FWD,SSP,S2P,INP,INDORE,Madhya Pradesh,West,NULL,NULL,2024-08-28 22:54:10,2024-08-28 22:54:10,2024-08-28 23:22:15,MWID,NULL,NULL,NULL,NULL,KAH,2024-08-28,Mix,INH,NULL,INH-NULL,2024-08-29 02:54:10,0,NULL,NULL,02:54:10,1,2024-08-29,2024-08-30 04:54:10,1,0,0,0,0
3100210,10414540159,FWD,SER,SUP,SUP,SURAT,Gujarat,West,NULL,NULL,2024-08-28 21:28:36,2024-08-28 21:28:36,2024-08-28 22:44:59,BZL,NULL,NULL,NULL,NULL,STH,2024-08-28,Fresh,STH,BNH,STH-BNH,2024-08-29 01:28:36,0,NULL,NULL,01:28:36,1,2024-08-29,2024-08-30 03:28:36,1,0,0,0,0
3100236,80078725252,RTS,PPI,PPI,FNP,FARUKHNAGAR,Haryana,North,NULL,NULL,2024-08-28 22:29:34,2024-08-28 22:29:34,2024-08-28 23:25:59,SCR,NULL,NULL,NULL,NULL,FNH,2024-08-28,Mix,FNH,SZH,FNH-SZH,2024-08-29 02:29:34,0,NULL,NULL,02:29:34,1,2024-08-29,2024-08-30 04:29:34,1,0,0,0,0
3100247,80078725279,RTS,PPI,PPI,FNP,FARUKHNAGAR,Haryana,North,NULL,NULL,2024-08-28 22:27:18,2024-08-28 22:27:18,2024-08-29 00:33:54,SZR,NULL,NULL,NULL,NULL,FNH,2024-08-28,Mix,FNH,SZH,FNH-SZH,2024-08-29 02:27:18,0,NULL,NULL,02:27:18,1,2024-08-29,2024-08-30 04:27:18,1,0,0,0,0
3100262,10162261027,FWD,HDA,HDA,INP,INDORE,Madhya Pradesh,West,NULL,NULL,2024-08-28 22:25:17,2024-08-28 22:25:17,2024-08-29 00:31:19,NNV,NULL,NULL,NULL,NULL,INH,2024-08-28,Mix,INH,NULL,INH-NULL,2024-08-29 02:25:17,0,NULL,NULL,02:25:17,1,2024-08-29,2024-08-30 04:25:17,1,0,0,0,0

In [109]:
df10["flag"]=np.where(df10["First_Bagging_Sc"]==df10["Origin_Sc"],1,0)
df10

,airwaybill_number,Product_Type,Origin_Sc,First_Bagging_Sc,PPC,City,State,Region,Misroute_Check,P_1,P_2,PPC_Inscan,Bagging,DC,RTO_date,PPC_Fact,Instruction,Remarks,Current_Sc,Date,shipment_type,H1,H2,lane,ready_time,Check1,lh_route,std_hrs,ready_time1,check2,date,STD,success_check,check3,RTO_check,PPC_Fact_check,Instruction_check,flag
400829,410012564620,FWD,BML,HNP,JJP,JAIPUR,Rajasthan,North,2024-08-16 11:07:39,2024-08-28 00:09:35,2024-08-15 06:52:46,2024-08-28 00:09:35,2024-08-15 08:39:36,MJAF,2024-08-23 11:03:16,NULL,NULL,NULL,JJP,2024-08-28,Mix,JJH,JJH,JJH-MJAF,2024-08-28 04:09:35,1,JJH-JAF-MJAF-MJAE-JJH,04:10:00,04:09:35,0,2024-08-28,2024-08-28 04:10:00,1,0,0,0,0,0
25302,2991838086,FWD,ALO,ALO,JJP,JAIPUR,Rajasthan,North,2024-08-15 11:40:02,2024-08-28 00:07:52,2024-08-14 20:25:27,2024-08-28 00:07:52,2024-08-14 23:37:00,MJAF,2024-08-27 08:11:51,NULL,NULL,NULL,JJP,2024-08-28,Mix,JJH,JJH,JJH-MJAF,2024-08-28 04:07:52,1,JJH-JAF-MJAF-MJAE-JJH,04:10:00,04:07:52,0,2024-08-28,2024-08-28 04:10:00,1,0,0,0,0,1
346390,3327176756,FWD,WLR,CTP,JJP,JAIPUR,Rajasthan,North,2024-08-15 11:40:02,2024-08-28 00:07:33,2024-08-14 08:08:52,2024-08-28 00:07:33,2024-08-14 10:06:33,MJAF,2024-08-24 10:46:04,NULL,NULL,NULL,JJP,2024-08-28,Mix,JJH,JJH,JJH-MJAF,2024-08-28 04:07:33,1,JJH-JAF-MJAF-MJAE-JJH,04:10:00,04:07:33,0,2024-08-28,2024-08-28 04:10:00,1,0,0,0,0,0
256866,80076595733,RTS,MUBC,MUBC,BP4,GURUGRAM,Haryana,North,2024-08-25 12:39:29,2024-08-28 00:14:32,2024-08-27 23:01:41,2024-08-28 00:14:32,2024-08-28 00:14:32,DUL,NULL,NULL,NULL,NULL,DUL,2024-08-28,Mix,BH4,BH4,BH4-DUL,2024-08-28 04:14:32,1,BH4-HPU-PKA-DUL-BH4,04:15:00,04:14:32,0,2024-08-28,2024-08-28 04:15:00,1,0,0,0,0,1
229894,5909742927,RVP,BSS,BSS,BP4,GURUGRAM,Haryana,North,NULL,NULL,2024-08-28 00:14:38,2024-08-28 00:14:38,2024-08-28 01:26:52,PKA,NULL,NULL,NULL,NULL,PKA,2024-08-28,Mix,BH4,BH4,BH4-PKA,2024-08-28 04:14:38,1,BH4-HPU-PKA-DUL-BH4,04:15:00,04:14:38,0,2024-08-28,2024-08-28 04:15:00,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3100190,3336223635,FWD,SSP,S2P,INP,INDORE,Madhya Pradesh,West,NULL,NULL,2024-08-28 22:54:10,2024-08-28 22:54:10,2024-08-28 23:22:15,MWID,NULL,NULL,NULL,NULL,KAH,2024-08-28,Mix,INH,NULL,INH-NULL,2024-08-29 02:54:10,0,NULL,NULL,02:54:10,1,2024-08-29,2024-08-30 04:54:10,1,0,0,0,0,0
3100210,10414540159,FWD,SER,SUP,SUP,SURAT,Gujarat,West,NULL,NULL,2024-08-28 21:28:36,2024-08-28 21:28:36,2024-08-28 22:44:59,BZL,NULL,NULL,NULL,NULL,STH,2024-08-28,Fresh,STH,BNH,STH-BNH,2024-08-29 01:28:36,0,NULL,NULL,01:28:36,1,2024-08-29,2024-08-30 03:28:36,1,0,0,0,0,0
3100236,80078725252,RTS,PPI,PPI,FNP,FARUKHNAGAR,Haryana,North,NULL,NULL,2024-08-28 22:29:34,2024-08-28 22:29:34,2024-08-28 23:25:59,SCR,NULL,NULL,NULL,NULL,FNH,2024-08-28,Mix,FNH,SZH,FNH-SZH,2024-08-29 02:29:34,0,NULL,NULL,02:29:34,1,2024-08-29,2024-08-30 04:29:34,1,0,0,0,0,1
3100247,80078725279,RTS,PPI,PPI,FNP,FARUKHNAGAR,Haryana,North,NULL,NULL,2024-08-28 22:27:18,2024-08-28 22:27:18,2024-08-29 00:33:54,SZR,NULL,NULL,NULL,NULL,FNH,2024-08-28,Mix,FNH,SZH,FNH-SZH,2024-08-29 02:27:18,0,NULL,NULL,02:27:18,1,2024-08-29,2024-08-30 04:27:18,1,0,0,0,0,1
3100262,10162261027,FWD,HDA,HDA,INP,INDORE,Madhya Pradesh,West,NULL,NULL,2024-08-28 22:25:17,2024-08-28 22:25:17,2024-08-29 00:31:19,NNV,NULL,NULL,NULL,NULL,INH,2024-08-28,Mix,INH,NULL,INH-NULL,2024-08-29 02:25:17,0,NULL,NULL,02:25:17,1,2024-08-29,2024-08-30 04:25:17,1,0,0,0,0,1

In [110]:
pivot110=df10.pivot_table(index="Origin_Sc",values="flag",aggfunc="sum",margins=True)
pivot110=pivot110.reset_index()
pivot110=pivot110.rename(columns={"flag":"Count"})
pivot110=pivot110.sort_values("Count",ascending=False)
pivot110

     Origin_Sc   Count
3637       All  944438
1043       FNP   18887
959        DRR   16730
3018       S2P   16430
832        DEP   15876
...        ...     ...
3270       STP       0
3272       STR       0
3022       S6R       0
41         AGR       0
3428       TPI       0

[3638 rows x 2 columns]

In [111]:
pivot110=pivot110.head(30)

In [112]:
df11=df10[df10["flag"]==1]
df11=df11[["airwaybill_number","Product_Type","Origin_Sc","First_Bagging_Sc","PPC","City","State","Region"]]
df11

,airwaybill_number,Product_Type,Origin_Sc,First_Bagging_Sc,PPC,City,State,Region
25302,2991838086,FWD,ALO,ALO,JJP,JAIPUR,Rajasthan,North
256866,80076595733,RTS,MUBC,MUBC,BP4,GURUGRAM,Haryana,North
229894,5909742927,RVP,BSS,BSS,BP4,GURUGRAM,Haryana,North
336458,5909755232,RVP,GLO,GLO,BP4,GURUGRAM,Haryana,North
336443,5909755197,RVP,KKZ,KKZ,BP4,GURUGRAM,Haryana,North
...,...,...,...,...,...,...,...,...
3099982,80078725490,RTS,KAR,KAR,FNP,FARUKHNAGAR,Haryana,North
3100147,80078725311,RTS,PPI,PPI,FNP,FARUKHNAGAR,Haryana,North
3100236,80078725252,RTS,PPI,PPI,FNP,FARUKHNAGAR,Haryana,North
3100247,80078725279,RTS,PPI,PPI,FNP,FARUKHNAGAR,Haryana,North
3100262,10162261027,FWD,HDA,HDA,INP,INDORE,Madhya Pradesh,West

In [113]:
df11.to_csv(r"D:\OneDrive - Ecom Express Limited\!Sudhanshu_CT\PPC_Comp_Origin_SC_bagging_Done\bagging_in_origin_sc.csv")

In [114]:
p6.to_excel(r"D:\OneDrive - Ecom Express Limited\PPC_Comp_Shashi\PPC_Comp.xlsx",index=False)

In [115]:
#p3=p3.astype(str)

In [116]:
pivot=p3.head(50)

In [117]:
def table_style2(x):
    f = x.style.format(precision=2, na_rep='MISSING', thousands=",",
                formatter={('RCA NEW',"DAY 1:AFN",'DAY 1:AFN%',"DAY 1:MFN","DAY 1:MFN%","DAY 2:AFN","DAY2:AFN%","DAY 2:MFN","DAY 2:MFN%","DAY 3:AFN","DAY 3:AFN%","DAY 3:MFN","DAY 3:MFN%"): "{:.2f}"
                    
                          }).set_properties(**{'text-align': 'center',
                                               'border-color':'black',
                                               'white-space':'nowrap',
                                               'border-style':'solid',
                                               'border-width':'thin',
                                               "font-size": "9pt",
                                               'border-collapse':'collapse',
                                               'background':'#f7f7fa',
                                                            'width':'100px'
                                               
                                              }).set_table_styles([{'selector':'th','props': [('background', '#44546A'),
                                                                                                     ('text-align', 'center'),
                                                                                                      ('white-space','nowrap'),
                                                                                                     ('border-color', 'black'),
                                                                                                     ('border-style','solid'),
                                                                                                     ("font-size", "10pt"),
                                                                                                     ("color",'#FFFFFF'),
                                                                                                     ('border-width','thin'),
                                                                                                     ('font-family',['Impact', 'Charcoal', 'sans-serif'])]}])
    return f

In [118]:
pivot=table_style2(pivot)
pivot

In [119]:
pivot220=table_style2(pivot110)
pivot220

In [120]:
#filter fail data - Done only write part pending.
#overall pivot with date in backup
#styler pivot on mail body
#fail data in backup and mail_body
#inglesh in mail body that we have added rts/rvp and 75 min check

In [121]:
os.chdir(r'D:\OneDrive - Ecom Express Limited\PPC_COMP_DATA')

In [122]:
fail_data.drop(['RTO_date','PPC_Fact','Instruction','Remarks','H1','H2','Check1','std_hrs','ready_time1','check2','date','check3','RTO_check','PPC_Fact_check','Instruction_check'],inplace=True,axis=1)

C:\Users\124436\AppData\Local\Temp\ipykernel_21920\885537956.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fail_data.drop(['RTO_date','PPC_Fact','Instruction','Remarks','H1','H2','Check1','std_hrs','ready_time1','check2','date','check3','RTO_check','PPC_Fact_check','Instruction_check'],inplace=True,axis=1)

In [123]:
fail_data.to_csv(f'fail_data_{n}.csv')

In [124]:
p3.to_csv(f'Fresh_MIX_ppc_comp_{n}.csv')

In [125]:
p1.to_csv(f'RTS_RVP_FWD_ppc_comp_{n}.csv')

In [126]:
df11.to_csv(f'bagging_in_origin_sc_{n}.csv')

In [127]:
os.chdir(r'D:\OneDrive - Ecom Express Limited\Himayat\PPC_Compliance_Trend')

In [128]:
p3['Date']=n

In [129]:
p3.to_csv(f'PPC_Pivot_{n}.csv')

In [130]:
df3.drop(['RTO_date','PPC_Fact','Instruction','Remarks','H1','H2','Check1','std_hrs','ready_time1','check2','date','check3','RTO_check','PPC_Fact_check','Instruction_check'],inplace=True,axis=1)

In [131]:
df3.to_csv(f'overall_data_{n}.csv')

# mailer

In [132]:
Subject= 'PPC Compliance : {}'.format(n)
From="controltower@ecomexpress.in"
#To='rajatg@ecomexpress.in'
#Cc='siddhartha.b@ecomexpress.in'
To="sanjay.parida@ecomexpress.in;raju.r@ecomexpress.in;nandakishor.as@ecomexpress.in;pritam.ns@ecomexpress.in;ranjit.k@ecomexpress.in;bhagwan.s@ecomexpress.in;pgkumar@ecomexpress.in;e.doddi@ecomexpress.in;shriyansh@ecomexpress.in;krishna@ecomexpress.in;megha.s@ecomexpress.in;FM_Leaders@ecomexpresssp.onmicrosoft.com;mukesh.ks@ecomexpress.in;adnan.r@ecomexpress.in;praveenp@ecomexpress.in;mukesh.ks@ecomexpress.in;arun.b@ecomexpress.in;shailesh.r@ecomexpress.in;durgesh.verma@ecomexpress.in;kapildeo@ecomexpress.in;shuvasis@ecomexpress.in;mahinderr@ecomexpress.in;udaygiri@ecomexpress.in;sanjay@ecomexpress.in;m.lokanathan@ecomexpress.in;sunil.d@ecomexpress.in;RH@ecomexpress.in;north_mm@ecomexpress.in>;yashpal.s@ecomexpress.in>;kaluram@ecomexpress.in>;boby.m@ecomexpress.in;shailesh.r@ecomexpress.in>;1manoj@ecomexpress.in;nitinpal@ecomexpress.in>;b.sachin@ecomexpress.in;abhaysingh@ecomexpress.in>;k.manish@ecomexpress.in>;anuj.kumar@ecomexpress.in>; narendra.kumar@ecomexpress.in>;sachinm@ecomexpress.in>;tekchand@ecomexpress.in>;harvinders@ecomexpress.in>;deepak.goel@ecomexpress.in>;praveenteotia@ecomexpress.in>;manish30294@ecomexpress.in>;manoj.k1@ecomexpress.in;kameshk@ecomexpress.in>;vinay.b@ecomexpress.in;manojsom@ecomexpress.in;arunks@ecomexpress.in;Sanjeevb@ecomexpress.in;pawank@ecomexpress.in;manojjeena@ecomexpress.in>;pawankn@ecomexpress.in>;rishabh44708@ecomexpress.in>;kalimul.g@ecomexpress.in;s.manpreet@ecomexpress.in>;puran.s@ecomexpress.in;dhrub.h@ecomexpress.in;bijoy.k@ecomexpress.in;skbappa@ecomexpress.in;umers@ecomexpress.in>;durgesh.verma@ecomexpress.in>;asif44463@ecomexpress.in>;ved.prakash@ecomexpress.in>;dinesh.r@ecomexpress.in>;vikram.s@ecomexpress.in>;hoshiar@ecomexpress.in;ravi.g@ecomexpress.in;deepak.p@ecomexpress.in;divyaprakash@ecomexpress.in>;rakesh_deh@ecomexpress.in>;permitk@ecomexpress.in>; someshb@ecomexpress.in>;niraj.s@ecomexpress.in;vikas.p@ecomexpress.in;praveenteotia@ecomexpress.in>;hemants@ecomexpress.in>;ajay.k@ecomexpress.in>;ajay@ecomexpress.in;m.mohit@ecomexpress.in;rinkun@ecomexpress.in;vinay.b@ecomexpress.in;rinku44173@ecomexpress.in;murugavel@ecomexpress.in;s.anurag@ecomexpress.in;jayaram.k@ecomexpress.in;abhijit.m@ecomexpress.in;chandrashekara@ecomexpress.in;gsrinivas@ecomexpress.in;deepak.s@ecomexpress.in;karthik@ecomexpress.in;prashanth@ecomexpress.in;jacobj@ecomexpress.in;shubhamks@ecomexpress.in;rizaul@ecomexpress.in;gaurav.arrora@ecomexpress.in;dhruba.h@ecomexpress.in;soumya.d@ecomexpress.in;ahir.hamir@ecomexpress.in;vinit.u@ecomexpress.in;rahul.koli@ecomexpress.in;prabhakar.s@ecomexpress.in;sagar.s@ecomexpress.in;mubarak.r@ecomexpress.in ;1deepak@ecomexpress.in ;kameshk@ecomexpress.in; s.suryakant@ecomexpress.in; omprakash@ecomexpress.in; delipm@ecomexpress.in; devendra.d@ecomexpress.in; sunil.k@ecomexpress.in; tanmoy.d@ecomexpress.in; eastgohmm@ecomexpresssp.onmicrosoft.com;eastgohmgt@ecomexpresssp.onmicrosoft.com;centralgoh@ecomexpress.in;central_hub_incharge@ecomexpress.in;hari.singh@ecomexpress.in;gagandeep.s@ecomexpress.in;tarun.k@ecomexpress.in;lup_ops@ecomexpress.in;raushan.k@ecomexpress.in;samyak.subhash@ecomexpress.in;samyak.l@ecomexpress.in;hariom435@ecomexpress.in;dipak.s@ecomexpress.in;taran.k@ecomexpress.in;rahul.manikanta@ecomexpress.in;rajeswararao@ecomexpress.in;malkhan.s@ecomexpress.in;vimal.n@ecomexpress.in;ramesh.babu@ecomexpress.in;mugesh.s@ecomexpress.in;marunikunj.n@ecomexpress.in;nilesh.v@ecomexpress.in;ravindram@ecomexpress.in;shete.j@ecomexpress.in;awdheshm@ecomexpress.in;manojsom@ecomexpress.in;sandeep.s1@ecomexpress.in;ramneek@ecomexpress.in;santosh.g@ecomexpress.in;amit.khot@ecomexpress.in;sanjeety@ecomexpress.in;sanjay2@ecomexpress.in;narottams@ecomexpress.in;falgun.g@ecomexpress.in;fmteam@ecomexpress.in;r.manjunath@ecomexpress.in;dharmendra.k@ecomexpress.in;pawank@ecomexpress.in;sourabh_dep@ecomexpress.in;rakesh.su@ecomexpress.in;kapildeo@ecomexpress.in;deepak.d@ecomexpress.in;jagjitsingh@ecomexpress.in;sanjeevb@ecomexpress.in;dharmendra.k@ecomexpress.in;manjit.s@ecomexpress.in; dayald@ecomexpress.in; rakesh.su@ecomexpress.in; sandeep.s1@ecomexpress.in; manojsom@ecomexpress.in;deepak.s@ecomexpress.in; hari.singh@ecomexpress.in;malkhan.s@ecomexpress.in;gagandeep.s@ecomexpress.in;taran.k@ecomexpress.in;arun.k@ecomexpress.in;k.harish@ecomexpress.in;sunil.sharma@ecomexpress.in;ashok60812@ecomexpress.in;sandeep.s2@ecomexpress.in;maheshar.n@ecomexpress.in;Mahinderr@ecomexpress.in;lalkrishan@ecomexpress.in;jitendrak@ecomexpress.in;bickyk@ecomexpress.in;rintudas@ecomexpress.in;loknath.b@ecomexpress.in;boby.m@ecomexpress.in;loknath.b@ecomexpress.in;maheshla@ecomexpress.in;arvindp@ecomexpress.in;l.harish@ecomexpress.in;pradeep.ks@ecomexpress.in;ranveer.s@ecomexpress.in"
Cc="tarun.a@ecomexpress.in;sonampaliwal@ecomexpress.in;nandakishor.s@ecomexpress.in;rahul.tandon@ecomexpress.in;gazipur.prashant@ecomexpress.in;b.krishnananda@ecomexpress.in>;shashi.k@ecomexpress.in;ct@ecomexpress.in;alijaffar@ecomexpress.in;sudhanshu.c@ecomexpress.in"

In [133]:
msg =MIMEMultipart()
msg['Subject']=Subject 
msg['From'] =From
msg['To']=To
msg['Cc']=Cc

In [134]:
html = """    <html>
      <head></head>
      <body>
        <p><b>Dear Sir/Maâ€™am,</b>
        <br>
        <br>
        <b>Please find PPC Compliance for {}</b>
        
        <br>
        <br>
        <b>Report Data Fetch Timing: 06:00:00 Hours </b>
        <br>
        <br>
        <b><FONT COLOR="Green">We have revamped PPC Compliance basis Speed Matrices and is based on V2. Also we have Considered Forward,RTS and RVP. RTS/RVP/Forward wise pivot is available in below link. </b></FONT COLOR="Green"></b>
        <br>
        <br>
        <b><FONT COLOR="RED"> Report Logic- 
Shipment Ready time is Calculated after adding 4 hours to PPC Inscan Time. Nearest STD is Calculated after Shipment Ready Time. 
If the bag is closed before 75 minutes from the first eligible STD is considered as Success; otherwise failure.
 </b></FONT COLOR="RED"></b>
        <br>
        <br>
        <b>Data Link- https://ecomexpresssp-my.sharepoint.com/:f:/g/personal/controltower_ecomexpress_in/EhLs3Cfu2O1CneR6YzRI1HgB1PL4ULvIYt7zdhqtQzMicA?e=s3l9hN </b>
        <br>
        <br>
        <b>PPC Performance Summary (Forward+RTS+RVP)
        <br>
        {}
        <br>
        <br>
       
        <b>Please find the volume where Bagging has been done at Origin Sc also {}</b>
        <br>
        <br>
        Regards,<br>
        Control Tower<br>
        </p>
      </body>
    </html>
""".format(n,pivot.to_html(),pivot220.to_html())
msg.attach(MIMEText(html,'html'))

In [135]:
smtpObj = smtplib.SMTP('smtp.office365.com:25')
#from home 587 and office 25
smtpObj.ehlo()
smtpObj.starttls()
smtpObj.login("controltower@ecomexpress.in","Team@0824")                       #change password monthly
try:
    smtpObj.sendmail(From,To.split(";")+Cc.split(";"),msg.as_string())
except Exception as e:
    print("not sent")

# testing

In [136]:
def table_style2(x):
    f = x.style.format(precision=2, na_rep='MISSING', thousands=",",
                       formatter={('PPC', 'City', 'State', 'Region', 'Overall_Volume',
        'Fresh_Volume', 'Mix_Volume',
        'Date'): "{:.2f}"
                                  }).hide_index().set_properties(**{'text-align': 'center',
                                                                    'border-color':'black',
                                                                    'white-space':'nowrap',
                                                                    'border-style':'solid',
                                                                    'border-width':'thin',
                                                                    "font-size": "9pt",
                                                                    'border-collapse':'collapse',
                                                                    'background':'#f7f7fa',
                                                                    'width':'100px'
                                                                   }).set_table_styles([{'selector':'th',
                                                                                       'props': [('background', '#44546A'),
                                                                                                 ('text-align', 'center'),
                                                                                                 ('white-space','nowrap'),
                                                                                                 ('border-color', 'black'),
                                                                                                 ('border-style','solid'),
                                                                                                 ("font-size", "10pt"),
                                                                                                 ("color",'#FFFFFF'),
                                                                                                 ('border-width','thin'),
                                                                                                 ('font-family',['Impact', 'Charcoal', 'sans-serif'])]
                                                                                         
                                                                                      },
                                                                                      {'selector': 'Overall_Compliance',
                                                                                       'props': [('background-color', 'lightyellow')]},
                                                                                      {'selector': "Fresh_Compliance",
                                                                                       'props': [('background-color', 'lightyellow')]},
                                                                                      {'selector': "Mix_Compliance",
                                                                                       'props': [('background-color', 'lightyellow')]}
                                                                                      ])
                                                                                    
    # Conditional Formatting
    f = f.background_gradient(cmap='coolwarm', subset=["Overall_Compliance","Fresh_Compliance","Mix_Compliance"])
    f = f.highlight_max(color='green', subset=["Overall_Compliance","Fresh_Compliance","Mix_Compliance"])
    f = f.highlight_min(color='red', subset=["Overall_Compliance","Fresh_Compliance","Mix_Compliance"])
    
    return f

In [137]:
import pandas as pd
from datetime import date, timedelta
import pymysql
 
 
today=date.today()
 
SDATE1=' 2024-08-01'
EDATE1= '2024-08-015'
 
# SDATE=(today - timedelta(days=9)).strftime('%Y-%m-%d')
# EDATE=(today - timedelta(days=3)).strftime('%Y-%m-%d')
 
#EDATE=today.strftime('%Y-%m-%d')
 
# print(SDATE)
# print(EDATE)
 
db = pymysql.connect(user="read_sched", db="schedular", host="13.127.223.3", port=3306, password="read_sched!@#$%^")
 
SQL_Query= f'''select emp_code_id as 'EmployeeCode',loc_code as 'PunchLocation',created_at from schedular_visit sv
left join master_location ml on ml.id = sv.location_id
where 1=1
and status in ('Completed','Visited')
and created_at >= '{SDATE1}'
and created_at < '{EDATE1}'
#and emp_code_id = 62874;'''
 
df = pd.read_sql(SQL_Query, db)
 
df['DC_CH_Key'] = df['PunchLocation'] + df['EmployeeCode'].astype(str)
df['DC_CH_Key3'] = df['PunchLocation'] + df['EmployeeCode'].astype(str)
 
df

C:\Users\124436\AppData\Local\Temp\ipykernel_21920\3433328508.py:29: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(SQL_Query, db)

   EmployeeCode PunchLocation                 created_at  DC_CH_Key DC_CH_Key3
0         61538           FRK 2024-08-01 07:24:56.703781   FRK61538   FRK61538
1        116590           VRG 2024-08-01 09:02:35.661519  VRG116590  VRG116590
2         40790           SGQ 2024-08-01 09:42:23.161905   SGQ40790   SGQ40790
3         40404           RRG 2024-08-01 16:38:02.162648   RRG40404   RRG40404
4         40404           JSW 2024-08-02 11:34:11.254726   JSW40404   JSW40404
5         40404           BTO 2024-08-03 05:00:18.880655   BTO40404   BTO40404
6         40790           KYI 2024-08-03 06:12:06.524064   KYI40790   KYI40790
7         61538           SUT 2024-08-03 09:56:18.077125   SUT61538   SUT61538
8         40790           RHA 2024-08-03 11:02:58.113920   RHA40790   RHA40790
9        116590           VRG 2024-08-05 08:26:42.724923  VRG116590  VRG116590
10       116590           VRD 2024-08-06 08:36:21.087395  VRD116590  VRD116590
11       116590           VRS 2024-08-07 10:59:19.112256  VRS116590  VRS116590
12        61538           SGD 2024-08-08 06:21:44.696382   SGD61538   SGD61538
13       116590           VRG 2024-08-08 12:22:44.475944  VRG116590  VRG116590
14        52093           STI 2024-08-09 04:30:08.857308   STI52093   STI52093
15        40790           DKL 2024-08-09 07:02:19.712224   DKL40790   DKL40790
16       116590           VRG 2024-08-09 08:44:06.817331  VRG116590  VRG116590
17        61538           BPC 2024-08-09 11:16:13.113055   BPC61538   BPC61538
18        52093           NET 2024-08-10 03:38:48.140927   NET52093   NET52093
19        19258           GRT 2024-08-10 05:01:58.956490   GRT19258   GRT19258
20        61538           KAD 2024-08-10 06:03:28.051481   KAD61538   KAD61538
21        52093           KOS 2024-08-12 05:35:44.134318   KOS52093   KOS52093
22       116590           PIN 2024-08-12 07:29:48.292895  PIN116590  PIN116590
23        10567           DOU 2024-08-12 10:40:48.609552   DOU10567   DOU10567
24        52093           PRL 2024-08-13 01:51:03.427645   PRL52093   PRL52093
25       116590           VRG 2024-08-13 04:15:12.818920  VRG116590  VRG116590
26        40404           KJI 2024-08-13 11:08:07.246483   KJI40404   KJI40404
27        10567           SXD 2024-08-13 11:39:18.864831   SXD10567   SXD10567
28       116590           VRG 2024-08-14 06:15:40.814933  VRG116590  VRG116590
29        61538           BMC 2024-08-14 07:11:02.704560   BMC61538   BMC61538

In [138]:
df.to_csv("D:\\Z_RTO\\New folder\\emp.csv")